

<style>
    table.fixed {
        table-layout: fixed;
    }

        table.fixed td {
            overflow: hidden;
        }
</style>
<div class="row">
    <div class="col-12">
        <p class="lead">Senior Approval List</p>
    </div>
    <div class="col-md-12 col-xs-12" style="width:100%;overflow-x:scroll;">
        <table class="table table-striped jambo_table bulk_action table-bordered fixed" id="tbl_sumaryList" cellpadding="0" cellspacing="0" style="background-color:#ffffff;">
            <thead>
                <tr class="headings" style="text-align:center;">
                    <th class="align-content-center font10" width="180" rowspan="2">กลุ่มกิจกรรม</th>
                    <th class="align-content-center font10" colspan="5">งบประมาณ</th>
                    <th class="align-content-center font10" colspan="5">งบประมาณที่ขอ</th>
                    <th class="align-content-center font10" colspan="5">ขาด(เกิน)งบประมาณที่ขอ</th>
                </tr>
                <tr>
                    <th class="align-content-center font8">TT</th>
                    <th class="align-content-center font8">OT</th>
                    <th class="align-content-center font8">EV</th>
                    <th class="align-content-center font8">DB</th>
                    <th class="align-content-center font8">ARP</th>
                    <th class="align-content-center font8">TT</th>
                    <th class="align-content-center font8">OT</th>
                    <th class="align-content-center font8">EV</th>
                    <th class="align-content-center font8">DB</th>
                    <th class="align-content-center font8">ARP</th>
                    <th class="align-content-center font8">TT</th>
                    <th class="align-content-center font8">OT</th>
                    <th class="align-content-center font8">EV</th>
                    <th class="align-content-center font8">DB</th>
                    <th class="align-content-center font8">ARP</th>


                </tr>
            </thead>



            <tr>
                <td>&nbsp;รวม</td>
                <td>50000000</td>
                <td>10000000</td>
                <td>50000000</td>
                <td>10000000</td>
                <td>10000000</td>
                <td></td>
                <td>310000000</td>
                <td>50000000</td>
                <td></td>
                <td></td>
                <td>50000000</td>
                <td></td>
                <td>50000000</td>
                <td>50000000</td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;รวม</td>
                <td>50000000</td>
                <td></td>
                <td>50000000</td>
                <td></td>
                <td>50000000</td>
                <td></td>
                <td></td>
                <td>50000000</td>
                <td></td>
                <td></td>
                <td>50000000</td>
                <td></td>
                <td>50000000</td>
                <td>50000000</td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;ยอดขาย TG 22(ลิตร)</td>
                <td colspan="5"></td>
                <td colspan="5"></td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td>&nbsp;คชจ.บาท/ลิตร TT ปี 2022</td>
                <td colspan="5"></td>
                <td colspan="5"></td>
                <td colspan="5"></td>
            </tr>
        </table>
    </div>
</div>