
<style>
    .line1px {
        border-bottom: groove;
        border-width: 1px;
        border-color: gray;
    }

    .borderbottom {
        border-bottom: dashed;
        border-width: 1px;
        border-color: gray;
    }
</style>
<hr />

<div class="row">
    <div class="col-xs-1 col-md-1">
    </div>
    <div class="col-xs-2 col-md-2">
        <div class="col-xs-12 col-md-12 line1px">
            <div style="text-align:center"><p><strong>นำเสนอ</strong></p></div>
            <div style="text-align:center"><p><strong>(Propose by)</strong></p></div>
        </div>
        <div class="col-xs-12 col-md-12 borderbottom" style="height:50px;">
            <div style="text-align:center; margin-top:20px"></div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div style="text-align:center;">(Group Key Account Manager)</div>
        </div>
    </div>
    <div class="col-xs-2 col-md-2 ">
        <div class="col-xs-12 col-md-12 line1px">
            <div style="text-align:center"><p><strong>อนุมัติค่าใช้จ่าย</strong></p></div>
            <div style="text-align:center"><p><strong>(Approve 1)</strong></p></div>
        </div>
        <div class="col-xs-12 col-md-12 borderbottom" style="height:50px;">
            <div style="text-align:center; margin-top:20px"></div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div style="text-align:center;">(ผู้ช่วยผู้อำนวยการ ฝ่ายขายโมเดิร์นเทรด)</div>
        </div>
    </div>
    <div class="col-xs-2 col-md-2 ">
        <div class="col-xs-12 col-md-12 line1px">
            <div style="text-align:center"><p><strong>อนุมัติค่าใช้จ่าย</strong></p></div>
            <div style="text-align:center"><p><strong>(Approve 2)</strong></p></div>
        </div>
        <div class="col-xs-12 col-md-12 borderbottom" style="height:50px;">
            <div style="text-align:center; margin-top:20px">หวังพรสมบัติ</div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div style="text-align:center;">(กรรมการผู้จัดการ)</div>
        </div>
    </div>

    <div class="col-xs-2 col-md-2 ">
        <div class="col-xs-12 col-md-12 line1px">
            <div style="text-align:center"><p><strong>อนุมัติค่าใช้จ่าย</strong></p></div>
            <div style="text-align:center"><p><strong>(Approve 3)</strong></p></div>
        </div>
        <div class="col-xs-12 col-md-12 borderbottom" style="height:50px;">
            <div style="text-align:center; margin-top:20px;">คุณประภากร ทองเทพไพโรจน์</div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div style="text-align:center;">(ประธานกรรมการบริหาร)</div>
        </div>
    </div>

    <div class="col-xs-2 col-md-2 ">
        <div class="col-xs-12 col-md-12 line1px">
            <div style="text-align:center"><p><strong>&nbsp;</strong></p></div>
            <div style="text-align:center"><p><strong>อนุมัติเงินสนับสนุน</strong></p></div>
        </div>
        <div class="col-xs-12 col-md-12 borderbottom" style="height:50px;">
            <div style="text-align:center; margin-top:20px;">ดร.พล ณรงค์เดช</div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div style="text-align:center;">(กรรมการบริหาร)</div>
        </div>
    </div>

    <div class="col-xs-1 col-md-1">
    </div>
</div>

