@using eActForm.Models
@using eActForm.BusinessLayer
@model eActForm.Models.Activity_Model
@{
    string url = System.Configuration.ConfigurationManager.AppSettings["urlUploadfiles"].ToString();
}



<div class="modal-body">
    <div id="GridImg" style="width:97%; margin-left:20px;">
        @if (Model.productImageList.Any())
        {
            <table>
                <tr style="margin-top:100px;">
                    @foreach (var item in Model.productImageList)
                    {


                        if (item.extension != ".pdf")
                        {

                            if (Model.productImageList.Count == 1)
                            {
                                <td style="text-align:center">
                                    <img width="300" height="300" src="@string.Format(url, item._fileName)" />
                                </td>
                            }
                            else
                            {
                                <td style="text-align:center;">
                                    <img width="300" height="300" src="@string.Format(url, item._fileName)" />
                                </td>
                            }
                            <td width="50px;"></td>

                        }

                    }
                </tr>
            </table>
        }
    </div>
</div>
