eActForm/.vs/
eActForm/eActForm/obj/
eActForm/eActForm/Uploadfiles/
eActForm/eActForm/error/
eActForm/eActForm/ActivityFormPdf/
eActForm/eActForm/Properties/PublishProfiles/*
eActForm/eActForm/signature/
eActForm/eActConsoleService/obj/*
eActForm/Properties/PublishProfiles/*
eActForm/eActForm/Properties/PublishProfiles/*
eActForm/eActConsoleService/obj
eActForm/web.config*
eActForm/eActConsoleService/*.config
eActForm/eActConsoleService/bin
*.pdf
