eActForm/eActForm/UploadfilesBudget/*
eActForm/eActForm/ActBudget/*
eActForm/eActForm/UploadfilesBudget/*
eActForm/.vs/*
eActForm/eActForm/Uploadfiles/*
eActForm/eActForm/error/*
eActForm/eActForm/ActivityFormPdf/*
eActForm/eActForm/ActRepDetail/
eActForm/eActForm/Properties/PublishProfiles/*
eActForm/eActForm/signature/*
eActForm/eActForm/obj/*
eActForm/Properties/PublishProfiles/*
eActForm/eActForm/Properties/PublishProfiles/*
eActForm/eActConsoleService/obj/*
eActForm/eActConsoleService/*.config
eActForm/eActConsoleService/bin/*
*.pdf
eActForm/eActForm/Properties/*
eActForm/eActConsoleService/bin/Debug/*
eActForm/eActForm/obj/*
*.txt
eActForm/eForms.Models/obj/*
eActForm/eForms.Presenter/obj/*
*.cache
eActForm/webLibrary/obj/*
eActForm/eActForm/Properties/*
eActForm/eActConsoleServiceWeekly/obj/*
eActForm/WebLibrary/obj/*

eActForm/eForms.Models/obj/*

*.xlsx
*.cache
eActForm/eActConsoleServiceWeekly/bin/*
eActForm/eActConsoleService/obj/*
eActForm/eActConsoleService/obj/Debug/eActConsoleService.csproj.FileListAbsolute.txt
eActForm/eActConsoleServiceWeekly/obj/Debug/eActConsoleServiceWeekly.exe
eActForm/eActConsoleServiceWeekly/obj/Debug/eActConsoleServiceWeekly.pdb
eActForm/eActForm/Web.config

eActForm/eActForm/Web.config
eActForm/eForms.Models/bin/Debug/eForms.Models.dll
eActForm/eForms.Models/bin/Debug/eForms.Models.pdb
eActForm/eForms.Models/obj/Debug/eForms.Models.dll
eActForm/eForms.Models/obj/Debug/eForms.Models.pdb
eActForm/eForms.Presenter/bin/Debug/eForms.Models.dll
eActForm/eForms.Presenter/bin/Debug/eForms.Models.pdb
eActForm/eForms.Presenter/bin/Debug/eForms.Presenter.dll
eActForm/eForms.Presenter/bin/Debug/eForms.Presenter.pdb
eActForm/eForms.Presenter/obj/Debug/eForms.Presenter.csprojAssemblyReference.cache
eActForm/eForms.Presenter/obj/Debug/eForms.Presenter.dll
eActForm/eForms.Presenter/obj/Debug/eForms.Presenter.pdb
eActForm/eActForm/signatureFile/201c9e61-4cee-433b-9e49-eda2f6345e5a/11016329.png
eActForm/eActForm/signatureFile/201c9e61-4cee-433b-9e49-eda2f6345e5a/11026439.png
*.png
*.png
*.exe
*.exe
*.pdb
eActForm/eActConsoleService/bin/Debug/*

eActForm/eActConsoleService/bin/Debug/eActConsoleService.exe
eActForm/eActConsoleService/bin/Debug/eActConsoleService.pdb
eActForm/eActConsoleService/bin/Debug/eActForm.dll
eActForm/eActConsoleService/bin/Debug/eActForm.pdb
eActForm/eActConsoleService/bin/Debug/WebLibrary.pdb
*.pdb
eActForm/eActForm/bin/eActForm.dll
eActForm/eActForm/bin/eActForm.pdb
eActForm/eActForm/bin/en/eActForm.resources.dll
eActForm/eForms.Presenter/obj/Debug/eForms.Presenter.csprojAssemblyReference.cache
*.pdb
eActForm/eActForm/bin/eForms.Presenter.pdb
*.pdb
*.cache
