<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="eActConsoleServiceWeekly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="eActConsoleServiceWeekly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <eActConsoleServiceWeekly.Properties.Settings>
      <setting name="strConn" serializeAs="String">
        <value>Data Source=10.6.241.71; Initial Catalog=DBEAct;User ID=rtmDev;password=ThaibevRTM@DB;Max Pool Size=200;</value>
      </setting>
      <setting name="strMailUser" serializeAs="String">
        <value>devrtm@thaibev.com</value>
      </setting>
      <setting name="strMailPassword" serializeAs="String">
        <value>Thaibev@dev20i9</value>
      </setting>
      <setting name="strBody" serializeAs="String">
        <value>
          แจ้งเอกสารจากระบบอัตโนมัติ
          &lt;br/&gt;&lt;br/&gt;
          รายงานการสั่งซื้อสินค้า crystal กรุณาตรวจสอบข้อมูลใน file แนบค่ะ
          &lt;br/&gt;&lt;br/&gt;
          &lt;br/&gt;จึงเรียนมาเพื่อทราบ
          &lt;br/&gt;ส่วนงานพัฒนาระบบงานสนับสนุนการขาย-RTM
          &lt;br/&gt;อีเมล์นี้ถูกสร้างจากระบบอัตโนมัติ ไม่ต้องตอบกลับ
          &lt;br/&gt;หากท่านต้องการทราบรายละเอียดเพิ่มเติม กรุณาติดต่อ ส่วนงานพัฒนาระบบงานสนับสนุน
          &lt;br/&gt;เบอร์โทรศัพท์ติดต่อ : 02-785-5555 ext. 5744,4580,4607
          &lt;br/&gt;Hot Line: 063-1970586
        </value>
      </setting>
    </eActConsoleServiceWeekly.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <eActConsoleServiceWeekly.Properties.Settings>
      <setting name="logsFileName" serializeAs="String">
        <value>{0}\logs\logs_{1}.txt</value>
      </setting>
    </eActConsoleServiceWeekly.Properties.Settings>
  </userSettings>
</configuration>