@*@model eActForm.Models.Activity_TBMMKT_Model*@
<div id="divEstimateDetails" runat="server" style="width: 100%;">
    <table class="tablethin" style="width:100%; text-align:center; " border="1" cellpadding="3" cellspacing="0">
        <tr style="background-color:#E5E2E2;height:25px;">
            <td colspan="6" style="text-align :center;  ">
                <b>  Total estimate of travelling expenses ( ประมาณค่าใช้จ่ายในการเดินทาง ดังนี้ )</b>
            </td>
        </tr>
        <tr style="height:25px;">
            <td style="width: 30%;text-align:center;">
                <b>   Description / รายละเอียด</b>
            </td>
            <td style="width: 10%; text-align:center;">
                <b> Unit/ หน่วย</b>
            </td>
            <td style="width: 15%;text-align:center;">
                <b> Unit Price / <br />ราคาต่อหน่วย</b>
            </td>
            <td style="width: 20%;text-align:center;">
                <b> Exchange Rete /<br />อัตราแลกเปลี่ยน</b>
            </td>
            <td style="width: 10%;text-align:center;">
                <b>  Qty/ จำนวน</b>
            </td>
            <td style="width: 15%; text-align:center;">
                <b>    Total/รวม</b>
            </td>
        </tr>
        @{ var index = 6;}
        @for (index = 1; index <= 6; index++)
        {
            <tr class="tagCountRowinTable">

                <td style="text-align:center;">
                    productDetail
                </td>
                <td style="text-align:center;">
                    QtyName
                </td>
                <td style="text-align:center;">
                    unitPrice
                </td>
                <td style="text-align:center;">
                    typeTheme
                </td>
                <td style="text-align:center;">
                    unit

                </td>
                <td style="text-align:right;">
                    total


                </td>
            </tr>
            index++;
        }
        <tr>
            <td colspan="5" style="width: 85%;text-align:right;">
                จำนวนเงินรวม(บาท)&nbsp;
            </td>
            <td style="width: 15%;text-align:right;">
                @* <label id="totalEstimate" type="text" readonly="readonly">@Model.totalCostThisActivity.Value.ToString("#,###.00")</label>&nbsp;*@

                <label id="totalEstimate" type="text" readonly="readonly"></label>&nbsp;

            </td>
        </tr>
    </table>

</div>
