
@model eActForm.Models.Activity_TBMMKT_Model

@{
    var url = System.Configuration.ConfigurationManager.AppSettings["urlUploadfiles"].ToString();
}

<div id="divHeadCompany" runat="server" style="width: 100%; align-content: center; text-align: center;">

    <table style="text-align:center; width:100%;font-size :16pt" border="0" id="tabelHeaderDetails" runat="server">
        @*<tr>
            <th rowspan="3" style="width:150px">
                <img id="catImage" width="150px"   src="@string.Format(url,"logo-ss.png")"/>              
            </th>
            <th><b>FORM FOR TRAVELLING APPROVAL</b></th>
            <td rowspan="3"  style="width:150px"></td>
        </tr>
        <tr> <td> <b> (OFF-SIDE/PROVINCIAL WORK)</b></td> </tr>
        <tr> <td> <b> แบบฟอร์มขอนุมัติไปปฎิบัติงานนอกสถานที่/ต่างจังหวัด </b></td> </tr>*@

        <tr><td><b>
    REQUISITION FORM FOR TRAVELLING APPROVAL<br/>
    แบบฟอร์มขอนุมัติไปปฎิบัติงานนอกสถานที่
</b>
            </td></tr>
    </table>
    <br />
</div>