
<div id="divLastword" runat="server" style="width: 100%;">
    <b>
        Please be informed and please approve the travel details and estimated costs as proposed above.
        <br />
        จึงเรียนมำเพื่อโปรดอนุมัติรำยละเอียดกำรเดินทำงและประมำณกำรค่ำใช้จ่ำยตำมที่เสนอข้ำงต้น
    </b>

</div>