@model eActForm.Models.Activity_TBMMKT_Model
    
<div id="divPurposeDetail" runat="server" style="width: 100%;">
    <table style="width: 100%;" id="tabelPurposeDetail" runat="server" border="0" cellpadding="5">
        <tr>
            <td style="width: 20%; text-align:right; " ><b>
   Purpose of Travelling /<br />วัตถุประสงค์ในการเดินทาง
</b>
            </td>
            <td style="width: 80%;">
                @*<input type="checkbox" checked="checked" />*@
                <b>&nbsp; : &nbsp;</b> Mission : ปฎิบัติหน้าที่
            </td>

        </tr>
    
        <tr>
            <td></td>
            <td >
                จัดกิจกรรม BLEN FES LIVE PROJECT 2019 โดยขอเดินทางไปก่อนวันจัดกิจกรรมลาวงหน้า 1 วัน
            </td>
        </tr>
    </table>
    
</div>