
<div id="divRemarks" runat="server" style="width: 100%;">
    <table style="width: 100%;" id="tabelRemarks" runat="server" border="0" cellpadding="3">
        <tr>
            <td style="width: 20%;  text-align:right;">
                <b>
                    Remarks / หมายเหตุ
                </b>
            </td>
            <td style="width: 80%;">
                <b>&nbsp; : &nbsp;</b> ..........................................................
            </td>

        </tr>

    </table>

</div>