@model eActForm.Models.Activity_TBMMKT_Model
<div id="divHeaderDetails" runat="server" style="width: 100%;">
    <table style="width: 100%;" id="tabelHeaderDetails" runat="server" border="0" cellpadding="5">
        <tr>
            <td style="width: 12%;text-align :right ; ">
                <b> Requested by<br />ผู้ขออนุมัติ</b>
            </td>
            <td style="width: 17%; text-align :left;">
                <b>&nbsp; : &nbsp;</b>ธิปพงศ์  จิตสุขสำราญ
            </td>
            
            <td style="width: 8%;text-align :right ; "><b>Position<br />ตำแหน่ง</b> </td>
            <td style="width: 23%; text-align :left;"> <b>&nbsp; : &nbsp;</b>Assistant Marketing Director</td>

            <td style="width: 10%;text-align :right ; "><b>BU SPIRITS<br />หน่วยธุรกิจ</b> </td>
            <td style="width: 20%; text-align :left;"><b> &nbsp; : &nbsp;</b>SPIRITS</td>
        </tr>

    </table>
 
</div>