@model eActForm.Models.MainFormModel
<div id="divHeadCompany" runat="server" style="width: 100%; align-content: center; text-align: center;">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">
            @Model.companyName<br />@Model.formName
        </h4>
    </div>
</div>