@{
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
    ViewBag.Title = "eAct maintenance mode.";
}
    <body style="background-color:#eeeeee">
        <style>
            body {
                text-align: center;
                padding: 100px;
            }
            body {
                font: 20px Helvetica, sans-serif;
                color: #333;
            }

            article {
                display: block;
                text-align: left;
                width: 750px;
                margin: 0 auto;
            }

        </style>

        <article>
         
            <div>
                <img src="~/images/maintain.png" />
            </div>
        </article>
    </body>