@{
    ViewBag.Title = "Contact";
}
<div class="row" style="min-height:500px;">
    <h2>@ViewBag.Title.</h2>
    <h3>ส่วนงานพัฒนาระบบงานสนับสนุนการขาย-RTM</h3>

    <div class="row">
        <div class="col-md-4 text-center">
            <p>
                <img src="~/images/contact3.png" style="max-height:150px;" class="img-circle" />
            </p>
            <p><h2>parnupong khananukull </h2>(บอม)</p>
            <p><abbr title="Phone">P:</abbr> : 089-203-7059 </p>
        </div>
        <div class="col-md-4 text-center">

            <p><img src="~/images/contact2.png" style="max-height:150px;" class="img-circle" /></p>
            <p><h2>Peerapop Intarawichian</h2> (เฟรม)</p>
            <p><abbr title="Phone">P:</abbr> : 061-385-7262 </p>
        </div>
        <div class="col-md-4 text-center">
            <p><img src="~/images/contact1.png" style="max-height:150px;" class="img-circle" /></p>
            <p><h2>Nattawat Hiransiriwattana</h2>(เป้)</p>
            <p><abbr title="Phone">P:</abbr> : 065-518-8925, 092-264-6222</p>
        </div>
    </div>
    <hr />
    <address>
        โทรศัพท์ : 02-785-5555 ต่อ 4580,4607<br />
    </address>

    <address>
        Line group: DevRTM  โดยเพิ่มเพื่อนมาที่ 092-264-6222 ครับ
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:parnupong.k@thaibev.com">Mail Support</a><br />
    </address>

</div>