
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Document</h2>
<hr />
<div class="row tile_count">

    @Html.Action("sumTotalDashBoard", "DashBoard")

    <div class="row tile_count">
        <div class="col-md-12 col-xs-12">
            @Html.Action("myDoc", "Home")
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#datatable').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": 0 }
                , { "orderable": false, "targets": 1 }
                , { "orderable": false, "targets": 2 }
                , { "orderable": false, "targets": 3 }
            ],
            "dom": 'lCfrtip',
            "order": [],
            "language": {
                "lengthMenu": '_MENU_ entries per page',
                "search": '<i class="fa fa-search"></i>',
                "paginate": {
                    "previous": '<i class="fa fa-angle-left"></i>',
                    "next": '<i class="fa fa-angle-right"></i>'
                }
            }
        });

    })

</script>