
@model eActForm.Models.Budget_Activity_Model
@{
	ViewBag.Title = "Edit Page";
}

<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.datetimepicker.full.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="~/Scripts/dropzone/dropzone.min.js"></script>
<link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />

<style type="text/css">

	.my-bootbox-class .modal-dialog {
		width: 400px;
		font-size: 18px;
	}
</style>

@Html.HiddenFor(x => x.Budget_Activity_list.ElementAt(0).act_form_id, new { @id = "hd_activityId" })


<div id="divPreviewProductList">
</div>

<hr />

<a href="javascript:" class="btn ink-reaction btn-default fa fa-eye" onclick="javascript:genPdf();"></a>

@*<div id="divPreviewInvoiceList">
	</div>*@

@*<div id='myModalInvoice' class="modal fade" role="dialog">
		<div id='myModalInvoiceContent'></div>
	</div>*@

<br />
<hr />

<script>

	$('document').ready(function () {
		callProductList($("#hd_activityId").val());
	});

	function callProductList(activityId) {
        $.ajax({
            type: 'POST',
            url:  '@Url.Action("budgetApproveList", "BudgetApprove")',
            data: {
				activityId: activityId
            }
        }).done(function (htmlResponse) {
			$("#divPreviewProductList").html(htmlResponse);
		});
	}

</script>

