@model eActForm.Models.Activity_TBMMKT_Model
@using System.Configuration;
<tr>
    <td>
        <div id="divHeadCompany" runat="server" style="width: 100%; align-content: center; text-align: center;font-size:large;" class="alert alert-success">
          
         @if (Resources.Global.cultureLocal == ConfigurationManager.AppSettings["cultureEng"])
         {     @Model.activityFormTBMMKT.companyNameEN<br />@Model.activityFormTBMMKT.formNameEn}
         else
         {     @Model.activityFormTBMMKT.companyName<br />@Model.activityFormTBMMKT.formName}
     
        </div>
    </td>
</tr>