@model eActForm.Models.Activity_TBMMKT_Model
<tr>
    <td>
        <div id="divHeadCompany" runat="server" style="width: 100%; align-content: center; text-align: center;font-size:large;" class="alert alert-success">
                @Model.activityFormTBMMKT.companyName<br />@Model.activityFormTBMMKT.formName
        </div>
    </td>
</tr>