<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="eActConsoleService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <eActConsoleService.Properties.Settings>
      <setting name="logsFileName" serializeAs="String">
        <value>{0}\logs\logs_{1}.txt</value>
      </setting>
      <setting name="strDefaultEmail" serializeAs="String">
        <value>tanapong.w@thaibev.com</value>
      </setting>
      <setting name="isDevelop" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="strSubject" serializeAs="String">
        <value>[e-ActivityForm] แจ้งเอกสาร รออนุมัติ จากระบบอัตโนมัติ</value>
      </setting>
      <setting name="strMailUser" serializeAs="String">
        <value>thaibevrtm-eact@thaibev.com</value>
      </setting>
      <setting name="strMailPassword" serializeAs="String">
        <value>E@ct#2308</value>
      </setting>
      <setting name="strUrlApprove" serializeAs="String">
        <value>https:\\eact.thaibev.com/?s=approve</value>
      </setting>
      <setting name="strMailCC" serializeAs="String">
        <value>thaibevdevrtm@gmail.com</value>
      </setting>
      <setting name="emailForDevelopSite" serializeAs="String">
        <value>parnupong.k@thaibev.com,tanapong.w@thaibev.com</value>
      </setting>
      <setting name="strConn" serializeAs="String">
        <value>Data Source=10.5.56.33; Initial Catalog=DBEAct;User ID=rtmDev;password=ThaibevRTM@DB;Max Pool Size=200;</value>
      </setting>
      <setting name="strBody" serializeAs="String">
        <value>
          เรียน {0}
          &lt;br/&gt;&lt;br/&gt;
          แจ้งเอกสารจากระบบอัตโนมัติ
          &lt;br/&gt;&lt;br/&gt;
          ท่านมีเอกสาร &lt;b&gt;รออนุมัติ&lt;/b&gt; จำนวน &lt;b&gt;{1}&lt;/b&gt; รายการ
          &lt;br/&gt;
          ท่านสามารถตรวจสอบรายละเอียดเพิ่มเติม และ Approve รายการได้ตามลิ้งค์นี้ : &lt;a href="{2} " &gt; Click &lt;/a&gt; &lt;br&gt;&lt;br&gt;
          &lt;br/&gt;จึงเรียนมาเพื่อทราบ
          &lt;br/&gt;ส่วนงานพัฒนาระบบงานสนับสนุนการขาย-RTM
          &lt;br/&gt;อีเมล์นี้ถูกสร้างจากระบบอัตโนมัติ ไม่ต้องตอบกลับ
          &lt;br/&gt;หากท่านต้องการทราบรายละเอียดเพิ่มเติม กรุณาติดต่อ ส่วนงานพัฒนาระบบงานสนับสนุน
          &lt;br/&gt;เบอร์โทรศัพท์ติดต่อ : 02-785-5555 ext. 5744,4580,4607
          &lt;br/&gt;Hot Line: 063-1970586
        </value>
      </setting>
    </eActConsoleService.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Mvc.Core" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.3" newVersion="5.5.13.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
