@using eActForm.BusinessLayer;
@model eActForm.Models.Activity_TBMMKT_Model



<div class="form-group" id="divExpenseCash">
    <div class="form-group">
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                ประจำเดือน
            </label>
            <div class="col-md-5 col-sm-5 col-xs-12">
                @Html.TextBoxFor(m => m.activityFormModel.dateDoc, new { @class = "form-control textboxcss", @id = "txtExMonth" })
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
   

    $(function () {
        $("#txtExMonth").datepicker({
            format: "mm-yyyy",
            viewMode: "months",
            minViewMode: "months"
        });
    });



</script>
