@using eActForm.BusinessLayer
@model eActForm.Models.Activity_TBMMKT_Model
<div class="form-group col-md-12" id="divExpenseCashEmpInfo">
    @*<div style="display:inline-block;"><label>ข้าพเจ้า</label> &nbsp;@Model.TB_Reg_RequestEmp.empName&nbsp;&nbsp;</div>
        <div style="display:inline-block;"><label>ตำแหน่ง </label>&nbsp;@Model.TB_Reg_RequestEmp.position&nbsp;&nbsp;</div>*@


    <div class="col-lg-12">
        <div class="col-md-5 col-xs-12">
            <label id="lblEmpId" style="">รหัสพนักงาน @Html.TextBoxFor(x => x.activityFormModel.empId, new { @class = "textboxcss textRight", Style = "width:5;  text-align:center;", id = "txtEmpId", onchange = "getEmpDetail();" })</label>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-md-4 col-xs-12">
            <label style="width:90px;">ชื่อ/Name:</label> &nbsp;&nbsp;<label id="lblEmpName"></label>
        </div>
        <div class="col-md-5 col-xs-12">
            <label style="width:130px;">ตำแหน่ง/Position: </label>&nbsp;&nbsp;<label id="lblEmpPosition"></label>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-md-4 col-xs-12">
            <label style="width:90px;">ระดับ/Level:</label> &nbsp;&nbsp;<label id="lblLvl" />
        </div>
        <div class="col-md-5 col-xs-12">
            <label style="width:130px;">หน่วยงาน/Dept: </label>&nbsp;&nbsp;<label id="lblDept" />
        </div>

    </div>
</div>

<script type="text/javascript">


     function getEmpDetail() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("getEmpDetailById", "eAct")',
            data: {
                empId: $("#txtEmpId").val(),
            }
        }).done(function (response) {
            console.log(response);
            $("#txtEmpName").val(response.Data.empName);
            document.getElementById('lblEmpName').innerHTML = response.Data.empName;
            document.getElementById('lblEmpPosition').innerHTML = response.Data.position;
            document.getElementById('lblLvl').innerHTML = response.Data.level;
            document.getElementById('lblDept').innerHTML = response.Data.department;
        });
    }


        //document.getElementById("lblVehicleregis").style.display = "none";
        //$("#ddlObjective").change(function () {
        //    if ($("#ddlObjective").val() == '01F28E2A-A4DE-4221-9869-5FA02719822E') {
        //        $("#lblVehicleregis").show();
        //        //document.getElementById("lblVehicleregis").style.display = "block";
        //        document.getElementById("divCertification").style.display = "none";
        //        document.getElementById("divCashBill").style.display = "block";
        //    }
        //    else {
        //        $("#lblVehicleregis").hide();
        //        //document.getElementById("lblVehicleregis").style.display = "none";
        //        document.getElementById("divCertification").style.display = "block";
        //        document.getElementById("divCashBill").style.display = "none";
        //    }
        //});


</script>
