@using System.Configuration;
@using eActForm.BusinessLayer
@model eActForm.Models.Activity_TBMMKT_Model

<div class="col-md-12">
    <div><h4>ข้อมูลเดินทาง</h4></div>
    <hr />
    <div class="col-lg-12 col-xs-12">
        <div class="col-md-6 col-xs-12">
            <div> ประเทศหรืองานที่เดินทางไป</div>
            @Html.TextBoxFor(x => x.activityFormTBMMKT.activityDetail, new { @class = "form-control  textRight", Style = "text-align:center;", id = "txtPack" })
        </div>
        <div class="col-lg-3 col-xs-12">
            <div>วันที่</div>
            @*@Html.TextBoxFor(x => x.activityFormModel.str_costPeriodSt, new { @class = "form-control  textRight datepicker", Style = "text-align:center;" })*@
            @Html.TextBox("activityFormModel.str_costPeriodSt", DocumentsAppCode.convertDateTHToShowCultureDateEN(Model.activityFormModel.costPeriodSt, ConfigurationManager.AppSettings["formatDateUse"])
            , new { @class = "form-control textRight datepicker", Style = "text-align:center;", autocomplete = "off" })
        </div>
        <div class="col-lg-3 col-xs-12">
            <div>ถึง</div>
            @Html.TextBox("activityFormModel.str_costPeriodEnd", DocumentsAppCode.convertDateTHToShowCultureDateEN(Model.activityFormModel.costPeriodEnd, ConfigurationManager.AppSettings["formatDateUse"])
           , new { @class = "form-control textRight datepicker", Style = "text-align:center;", autocomplete = "off" })
            @*@Html.TextBoxFor(x => x.activityFormModel.str_costPeriodEnd, new { @class = "form-control  textRight datepicker", Style = "text-align:center;" })*@
        </div>
    </div>


    <div class="col-lg-12 col-xs-12" style="margin-top:15px">
    </div>

</div>