@*@model eActForm.Models.Activity_TBMMKT_Model*@
    <table style="width: 100%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;">

        <tr style="border-bottom:none;">
            <td>
                &nbsp;<br />
            </td>
        </tr>
        </table>