<tr>
    <td>
        <div id="divHeadCompany" runat="server" style="width: 100%; align-content: center; text-align: center;font-size:large;">
            บริษัท  ไทยเบฟมาร์เก็ตติ้ง  จำกัด<br />ใบยืมเงินทดรอง
        </div>
    </td>
</tr>