@model eActForm.Models.Activity_TBMMKT_Model
    @{ 
        Layout = null;
    }
@*<tr>
    <td>*@
        <div id="divHeadCompany" runat="server" style="width: 100%; align-content: center; text-align: center;" class="fontDocV2">
            @Model.activityFormTBMMKT.companyName<br />@Model.activityFormTBMMKT.formName
        </div>
    @*</td>
</tr>*@