

<object data="@Url.Action("getPDF", "BudgetViewer", new { actId = TempData["actId"] })" type="application/pdf" style="width:100%;min-height:350px;"></object>
<div class="row">
	<div class="col-md-12">
		<p class="text-success pull-right">Click <a href="@Url.Action("getPDF", "BudgetViewer", new { actId = TempData["actId"] })" target="_blank" class="btn btn-info"><i class="fa fa fa-search fa-fw"></i>&nbsp;</a>to view the file.</p>

	</div>
</div>