@model eActForm.Models.ApproveModel.approveModels
@if (Model.approveDetailLists != null && Model.approveDetailLists.Count() > 0)
{
    <div style="margin-bottom:10px;">
        หมายเหตุ
    </div>
    <table>
        @foreach (var item in Model.approveDetailLists)
        {
            if (@item.remark != "")
            {
                <tr>
                    <td align="center">@item.empName : </td>
                    <td align="left">@item.remark</td>
                </tr>
            }
        }
    </table>
}