@model eActForm.Models.ManagementFlow_Model

<h3>flow management</h3>
<div class="row">
    <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <h5>Company</h5>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            @Html.DropDownListFor(model => model.companyList, new SelectList(Model.companyList, "id", "displayVal"), "Please Select", new { @class = "form-control textboxcss", id = "ddlCompany" })
        </div>
    </div>


</div>

<div class="row">
    <div id="getQuery" class="col-lg-12">
        @Html.Action("getDataList", "ManagementFlow")
    </div>
</div>


<script>
    $("#ddlCompany").change(function () {
        var ddlProduct = $("#ddlCompany");
        $.ajax({
            url: '@Url.Action("getddlProduct", "eAct")',
            data: {
                brandId: $("#ddlProductBrand").val(),
                size: $("#ddlProductSize").val(),
                smellId: $("#ddlProductSmell").val(),
                productGroupId: $("#ddlProductGrp").val()
            },
            dataType: "json",
            type: 'POST',
            success: function (response) {
                if (response.Data.getProductname.length > 0) {
                    $("#ddlProductfilter option[value !='']").remove();
                    $.each(response.Data.getProductname, function () {
                        ddlProduct.append($("<option></option>").val(this['Value']).html(this['Text']));
                    });
                    document.getElementById("ddlProductfilter").disabled = false;
                }
                else {
                    document.getElementById("ddlProductfilter").disabled = true;
                }
            }
        });
    });
</script>