@model eActForm.Models.ManagementFlow_Model

<h3>flow management</h3>
<div class="row">
    <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <h5>Company</h5>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            @Html.DropDownListFor(model => model.companyList, new SelectList(Model.companyList, "id", "displayVal"), "Please Select", new { @class = "form-control textboxcss", id = "ddlCompany" })
        </div>
    </div>


</div>

<div class="col-md-12">
    <div id="divgetimage" class="col-md-12">
        @Html.Action("getDataList", "ManagementFlow");
    </div>
</div>


<script>
    $("#ddlCompany").change(function () {
        $.ajax({
            url: '@Url.Action("getddlProduct", "eAct")',
            data: {
                companyId: $("#ddlCompany").val(),
            },
            dataType: "json",
            type: 'POST',
            success: function (response) {
                $("#divDrop").html(htmlResponse)
            }
        });
    });



</script>