@model eActForm.Models.ManagementFlow_Model

<h3>flow management</h3>
<div class="row">
    <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <h5>Company</h5>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            @Html.DropDownListFor(model => model.companyList, new SelectList(Model.companyList, "val1", "displayVal"), "Please Select", new { @class = "form-control textboxcss", id = "ddlCompany" })
        </div>
    </div>

</div>
<hr />
<div class="col-md-12">
    <div id="divDrop" class="col-md-12">  
    </div>
</div>


<script>


    $("#ddlCompany").change(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("dropDetail", "ManagementFlow")',
            data: { companyId: $("#ddlCompany").val() }
        }).done(function (htmlResponse) {
            $("#divDrop").html(htmlResponse);
            setShowDrop();
        });
    });
  

    function setShowDrop() {
        if ($("#ddlCompany").val() == '5600' || $("#ddlCompany").val() == '5601') {
            document.getElementById("divTBM").style.display = "none";
        }
        else {
            document.getElementById("divTBM").style.display = "block";
        }

    }



</script>