@using eActForm.Models
@using eActForm.BusinessLayer
@using System.Configuration;
@model eActForm.Models.ImportExcel

<h2>Import Master AP</h2>

@using (Html.BeginForm("Index", "ImportMasterAP", FormMethod.Post, new { enctype = "multipart/form-data", id = "divUpload" }))
{
    @Html.TextBoxFor(m => m.file, new { type = "file" })
    <br />
    <div>
        &nbsp;<button id="submitButton" type="button" onclick="uploadClicked()">Upload Data Click Here</button>
    </div>
    <b style="color:#ff0000">
        @Html.ValidationMessageFor(model => model.file)
    </b>
}

<h2>
    @if (ViewBag.Error != null)
    {
        <b style="color:#ff0000">@Html.Raw(ViewBag.Error)</b>
    }
    else
    {
        <b style="color:#016427">@ViewBag.Result</b>
    }

</h2>
<hr />
<div>
    <h2>
        Download template file upload <a href="~/Uploadfiles/ImportMasterAP/template/TemplateImportAP.xlsx" style="color:blue;">[Click]</a>
    </h2><br />
    1.ชื่อชีตต้องใช้ :dataimport<br />
    2.คอลัมน์ APCode :ห้ามเป็นค่าว่าง<br />
    3.คอลัมน์ Name1 :ห้ามเป็นค่าว่าง<br />
    4.คอลัมน์ CoNo,HouseNo,Street,Street4,District,City,PostCode,Tel,FaxNo :ดูตัวอย่างการกรอกจากไฟล์ TemplateImportAP.xlsx<br />
    5.คอลัมน์ InActive :ระบุ 0 คือใช้งานAPCode ,ระบุ 1 คือปิดการใช้งานAPCode<br />
</div>
<hr />
<div>
    <h2>
        Download Master AP ที่มีอยู่ในระบบปัจจุบัน.
        @using (Html.BeginForm("ExportMat", "ImportMasterAP", FormMethod.Post))
        {
            <input type="submit" value="Export" />
        }
    </h2><br />
</div>
<script>
    function uploadClicked() {
        var r = confirm("Please confirm for upload file.");
        if (r == true) {
            $("#WaitDialog").show();
            $("#divUpload").submit();
        }
    }
    function beginQuery() {

    }
    function successQuery() {

    }
    function failureQuery(data) {
        console.log('fail');
        console.log(data);
    }
</script>
