@model eActForm.Models.Activity_TBMMKT_Model
<div id="divChargeTo" runat="server" style="width: 100%;" >

    <table style="width: 100%;" id="tabelChargeTo" runat="server" border="0"   cellpadding="2" cellspacing="0" class="fontDocSmall">
        <tr>
            <td style="width: 18%;   text-align:right;">
                <b>
                    Expenses charge to /<br />เป็นค่าใช้จ่ายของ
                </b>
            </td>
            <td style="width: 2%;text-align:center;"><b>:</b></td>
            <td style="width: 80%;">
               @Model.activityFormTBMMKT.companyNameEN  (@Model.activityFormTBMMKT.companyNameTH )
            </td>

        </tr>

    </table>
  
</div>