
@using eActForm.BusinessLayer;
@model eActForm.Models.Activity_TBMMKT_Model



<div class="form-group" id="divExpenseCash">
    <div class="form-group">
        <div class="col-md-5 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                บริษัท<span class="required">*</span>
            </label>
            <div runat="server" style="width: 100%; align-content: center; text-align: center;" class="fontDocV2">
                @Model.activityFormTBMMKT.companyName<br />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div runat="server" style="width: 100%; align-content: center; text-align: center;" class="fontDocV2">
            @Model.activityFormTBMMKT.companyNameTH
        </div>
    </div>
    <div class="form-group">
        <div runat="server" style="width: 100%; align-content: center; text-align: center;" class="fontDocV2">
           ประจำเดือน 
        </div>
    </div>
</div>


