
<div id="divLastword" runat="server" style="width: 100%;" >
    <table border="0" cellpadding="3"  class=" fontDocSmall">
        <tr>
            <td>
                <b>
                    Please be informed and please approve the travel details and estimated costs as proposed above.        <br />
                    จึงเรียนมาเพื่อโปรดอนุมัติรายละเอียดการเดินทางและประมาณการค่าใช้จ่ายตามที่เสนอข้างต้น
                </b>
            </td>
        </tr>
    </table>

</div>