@*@model eActForm.Models.Activity_TBMMKT_Model*@


<table class="tablethin fontDocSmall " style="width:100%; text-align:center;" border="1" cellpadding="3" cellspacing="0">
    <tr style="height:25px;">
        <td colspan="6" style=" text-align:left; border-bottom:0px;">
            <div class=" fontDocSmall " style="padding-left:5em;">
                <b>บันทึกสำนักทรัพยากรบุคคล</b>
            </div>

        </td>
    </tr>


    <tr style="height:20px;">
        <td style="width: 15%;text-align: left;border-top: 0px;border-right: 0px;border-bottom: 0px;">
        </td>
        <td style="width: 25%;text-align: left; border-width:0px 0px 0px 0px;">
            1.เห็นควรพิจราณาอนุมัติ ค่าเบี้ยเลี่ยง
        </td>
        <td style="width: 5%;text-align: center;border-width: 0px 0px 0px 0px;">
            จำนวน
        </td>
        <td style="width: 10%; text-align: right; border-width: 0px 0px 0px 0px;">
            1400.00
        </td>
        <td style="width: 20%; text-align: left; border-width: 0px 0px 0px 0px;">
            บาท (หนึ่งพันสี่ร้อยบาทถ้วน)
        </td>
        <td style="width: 25%;text-align: left;border-top: 0px;border-left: 0px;border-bottom: 0px;">
            โดยรวมเข้ากับเงินเดือน
        </td>
    </tr>


    <tr style="height: 20px;">
        <td style="text-align:left; border-top:0px;  border-right:0px;">
        </td>
        <td style="width: 30%; text-align: left; border-top: 0px; border-right: 0px; border-left: 0px;">
            1.เห็นควรพิจราณาอนุมัติ ค่าเบี้ยเลี่ยง
        </td>
        <td style="text-align:center;  border-top:0px;border-right:0px; border-left:0px;">
            จำนวน
        </td>
        <td style="text-align:right; border-top:0px;border-right:0px;  border-left:0px;">
            1400.00
        </td>
        <td style="text-align:left; border-top:0px;border-right:0px;  border-left:0px;">
            บาท (หนึ่งพันสี่ร้อยบาทถ้วน)
        </td>
        <td style="text-align:left; border-top:0px; border-left:0px; ">
            โดยรวมเข้ากับเงินเดือน
        </td>
    </tr>


</table>
<div style="height:15px;"></div>