@model eActForm.Models.Activity_TBMMKT_Model
<div id="divRemarks" runat="server" style="width: 100%; ">
    <table style="width: 100%;" id="tabelRemarks" runat="server"  border="0" cellpadding="2" cellspacing="0">
        <tr>
            <td style="width: 18%;  text-align:right;">
                <b>
                    Remarks / หมายเหตุ
                </b>
            </td>
            <td style="width: 2%; text-align:center;"><b>:</b></td>
            <td style="width: 80%;">
                @Model.activityFormTBMMKT.remark
            </td>

        </tr>
       
      
    </table>

</div>