@model eActForm.Models.Activity_TBMMKT_Model
@using System.Configuration;
@{ 
    Layout = null;
}

<br />
<div style="width: 100%;text-align: left;">
    <div style="margin-bottom: 10px;">
        @if (Model.activityFormModel != null)
        {
            @Html.Action("approvePositionSignatureListsV2", "Approve", new { actId = Model.activityFormModel.id, subId = Model.tB_Act_ActivityForm_DetailOther.SubjectId })
        }
    </div>
</div>
