@model eActForm.Models.Activity_TBMMKT_Model

<div style="height:5px;" id="tbSigPage"></div>
<div style="width: 100%;text-align: left;">
    <div style="margin-bottom: 10px;">
        @if (Model.activityFormModel != null)
        {
            @Html.Action("approvePositionSignatureListsV2", "Approve", new { actId = Model.activityFormModel.id, subId = Model.tB_Act_ActivityForm_DetailOther.SubjectId })
        }
    </div>
</div>

@*<div id="writeHeight"></div>*@
<script>
    $(function () {
        @if (Model.list_ObjGetDataLayoutDoc != null)
        {
            @*var countLine = Model.approveFlowDetail.FindAll(x => x.isShowInDoc == true).Count;*@
            @:var rowCount = parseInt($('table#tbRowCountCheck tr:last').index() + 1);
            @:var itBreak = false;
            foreach (var data in Model.list_ObjGetDataLayoutDoc)
            {
                @:if (rowCount == parseInt("@data.valuesUse") && itBreak == false) {
                    @:$("#tbSigPage").attr("style", "page-break-after:always");
                    @:itBreak = true;
                @:}
            }
            @*@:$("#writeHeight").html("RowCount: "+ rowCount.toString());*@
            @*@:$("#writeHeight").html("RowCount: "+ rowCount.toString()+ ",ShowDocName: " + "@countLine.ToString()");*@
        }
    });
</script>