@model eActForm.Models.Activity_TBMMKT_Model

@{
    Layout = null;
    var createdByName = "";
    var createdBy = "";

    if (Model.activityFormTBMMKT.chkUseEng)
    {
        createdByName = @Model.activityFormTBMMKT.createdByNameEN;
        createdBy = "Create By";
    }
    else
    {
        createdByName = @Model.activityFormTBMMKT.createdByName;
        createdBy = "ผู้จัดทำ";
    }
}

<div style="height:5px;"></div>
<div style="width: 100%; text-align: left;">
    &nbsp;@createdBy @createdByName
    <br />@ViewBag.classFont
</div>
