@using System.Configuration;
<div style="height:15px;"></div>
@{
    if (@Model.master_type_form_id == ConfigurationManager.AppSettings["formExpTrvNumId"])
    {
        <div class=" fontDocSmall ">
            <span style="color:red;">*มีการแก้ไขข้อมูลโดย HC</span>
        </div>
    }
}
<div style="height:15px;"></div>