<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-ActForm RTM Sale Support</title>


    <!-- Bootstrap -->
    <link href="~/content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="~/content/vendors/build/css/custom.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>


</head>


    @RenderBody()


    <!-- Bootstrap -->
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Content/vendors/build/js/custom.min.js"></script>



</html>
