
@model eActForm.Models.Activity_TBMMKT_Model
@using eActForm.Models;
@using System.Configuration;
<div id="divForm" style="width:97%;">


    @RenderPage("~/Views/Shared/styleView.cshtml")

    <div class="@ViewBag.padding">
        <table style="width: 100%;" id="tabel_report" class="@ViewBag.classFont">
            @foreach (var item in Model.master_Type_Form_Detail_Models)
            {
                <tr>
                    <td>
                        @Html.Action(item.path_action, item.path_controller, new { activity_TBMMKT_Model = Model })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>