
@model eActForm.Models.MainFormModel
@using eActForm.Models;

<div id="divForm" style="width:97%; margin-left:20px;">
    <table style="width: 100%;" id="tabel_report" runat="server">
        @foreach (var item in Model.master_Type_Form_Detail_Models)
        {
            @Html.Action(item.path_action, item.path_controller, new { mainFormModel = Model })
        }
    </table>
</div>