
@model eActForm.Models.Activity_TBMMKT_Model
@using eActForm.Models;

    <div id="divForm" style="width:97%;">
        <style>
            .fontDocV1 {
                font-family: 'TH SarabunPSK';
                font-size: 18px;
                color: black;
            }

            .fontDocV2 {
                font-family: 'TH SarabunPSK';
                font-size: 22px;
                color: black;
            }

            .fontDocSmall {
                font-family: 'TH SarabunPSK';
                font-size: 14px;
                color: black;
            }

            .fontSigV1 {
                font-family: 'TH SarabunPSK';
                font-size: 14px;
                color: black;
            }

            .paddingFormV1 {
                width: 100%;
                padding-left: 35px;
            }

            .formListDetailV1 {
                height: 450px;
                vertical-align: top;
            }

            .formListDetailV2 {
                height: 400px;
                vertical-align: top;
            }

            .fontDocV3 {
                font-family: 'TH SarabunPSK';
                font-size: 28px;
                color: black;
            }

            .paddingFormV2 {
                width: 100%;
            }

            .paddingFormV3 {
                width: 100%;
            }

            .formBorderStyle1 {
                border: 1px solid black;
                border-collapse: collapse;
            }

            /*==========20200401===========*/
            .formBorderStyle2 {
                border: 1px solid black;
                font-family: 'TH SarabunPSK';
                font-size: 18px;
                color: black;
                border-collapse: collapse;
            }
            .txtLeft {
                text-align: left;
            }
            .txtRight {
                text-align: right;
            }
            .borderWidthMaxCollape {
                width: 100%;
                border-collapse: collapse;
            }
            .borderLeft {
                border-left: 1px solid black;
            }
            .borderRight {
                border-right: 1px solid black;
            }
            .borderBottomV2 {
                border-bottom: 1px solid black;
            }
            .paddingRowTable {
                padding-top: -15px;
            }
            .paddingRowTableV2 {
                padding-top: -22px;
            }
            .paddingRowTableV3 {
                padding-top: -27px;
            }
            .borderBottom {
                padding-top: -30px;
                text-align: center;
                border-top: 1px solid black;
            }
            .tdTopLeft {
                vertical-align: top;
                text-align: left;
            }
            .tdTopRight {
                vertical-align: top;
                text-align: right;
            }
            .tdTopCenter {
                vertical-align: top;
                text-align: center;
            }
            .verticalTop {
                vertical-align: top;
            }
            .boxTableFormMainV1 {
                width: 100%;
                border-top: 1px solid black;
                border-right: 0px solid black;
                border-bottom: 0px solid black;
                border-left: 0px solid black;
                border-collapse: collapse;
            }
            .boxTableFormV1 {
                vertical-align: top;
                padding-top: -9px;
            }
            .fontRedV1{
               color:#961930;
            }
            .fontRedV2 {
                color: red;
            }
            .fontBlueV1 {
                color: darkblue;
            }
            .fontOrangeV1 {
                color: #942c00;
            }
            /*=====END=====20200401===========*/
        </style>
        <div class="@ViewBag.padding">
            <table style="width: 100%;" id="tabel_report" class="@ViewBag.classFont">
                @foreach (var item in Model.master_Type_Form_Detail_Models)
                {
                    <tr>
                        <td>
                            @Html.Action(item.path_action, item.path_controller, new { activity_TBMMKT_Model = Model })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>