
<div>
    <div class="col-md-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>Compare accrual vs actual (Bath)</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="chart-container">
                <div class="row" style="width:500px;">
                    <canvas id="chartCompareSE" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>Compare netsale vs SE (Bath)</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="chart-container">
                <div class="row" style="width:500px;">
                    <canvas id="chartActual" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>