@model eActForm.Models.Activity_TBMMKT_Model

<div id=""style="width: 100%;align-content: center;text-align: center;padding: 5px;" class="fontRedV1">
    <b>
      Approve Lists @Model.activityFormTBMMKT.formName @Model.activityFormModel.activityNo
    </b>
</div>
