@*@model eActForm.Models.Activity_TBMMKT_Model*@
<tr>
    <td style="">
        <div style="width: 100%; align-content: center; text-align: center;">
            วันที่ ..............................
        </div>
    </td>
</tr>