@model eActForm.Models.SearchActivityModels
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.11.2.min.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<h2>My Document (Budget)</h2>
<hr />

<div class="row tile_count">
	<div class="row tile_count">
		<div class="col-md-12 col-xs-12">
			@using (Ajax.BeginForm("searchBudgetForm", "BudgetMyDoc"
			, new AjaxOptions { UpdateTargetId = "getQuery", HttpMethod = "post", OnBegin = "return beginQuery()", OnSuccess = "successQuery", OnFailure = "failureQuery", LoadingElementId = "WaitDialog" }
			, new { id = "form", @class = "form-horizontal form-label-left" }))
			{
				@RenderPage("~/Views/Shared/_searchBudget.cshtml")
			}
		</div>
	</div>
</div>

<div class="row tile_count">
	<div id="getQuery" class="col-md-12 col-xs-12">
		@Html.Action("myDocBudget", "BudgetMyDoc")
	</div>
</div>


<script type="text/javascript">

	function beginQuery() {
		$("#getQuery").fadeOut(300);
	}

	function successQuery(htmlResponse) {
		$("#getQuery").html(htmlResponse)
		$("#getQuery").fadeIn(300);
	}

	function failureQuery(data) {

	}

</script>