@using eActForm.BusinessLayer;
@using System.Configuration;
@model eActForm.Models.SearchBudgetActivityModels

@Html.HiddenFor(Model => Model.typeForm, new { id = "HtypeForm" })


<div class="form-group">
    <div class="col-md-6 col-xs-12">

    </div>
</div>


    <div class="form-group">
        <div class="col-md-6 col-xs-12">
            <div class="row">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ddlCustomer">
                    Customer<span class="required"></span>
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    @Html.DropDownListFor(model => model.customerslist, new SelectList(Model.customerslist, "id", "cusNameTH"), "Select All", new { @class = "form-control textboxcss", id = "ddlCustomer", Name = "ddlCustomer" })
                    <input type="hidden" id="txtchanel" class="form-control textboxcss" readonly>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="row">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ddlProductCate">
                    Product Type<span class="required"></span>
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    @Html.DropDownListFor(model => model.productTypelist, new SelectList(Model.productTypelist, "id", "nameTH"), "Select All", new { @class = "form-control textboxcss", id = "ddlProductType", Name = "ddlProductType" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 col-xs-12">
            <div class="row">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="productGroup">
                    Search
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" id="txtKeyword" name="txtKeyword" class="form-control textboxcss" placeholder="Brand Name, Product Name">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="row">

            </div>
        </div>
    </div>


<hr />
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <a href="#" class="btn btn-warning"><i class="fa fa fa-reply fa-fw"></i>&nbsp;Cancel</a>
                <button type="submit" class="btn btn-success"><i class="fa fa fa-check fa-fw"></i>&nbsp;Submit</button>
            </div>
        </div>
    </div>
</div>
