@using eActForm.BusinessLayer;
@model eActForm.Models.Activity_TBMMKT_Model




<a href='@Url.Action("PreviewFormDetail", "PreviewMasterForm", new { typeLayout = "input" })'>
    <img height="200" src='@Url.Content("~/images/google-forms.jpg")' />
</a>
<a href='@Url.Action("PreviewFormDetail", "PreviewMasterForm", new { typeLayout = "report" })'>
    <img width="200" height="200" src='@Url.Content("~/images/pngtree-reports.jpg")' />
    <label>REPORT</label>
</a>

<br />
<br />
<br />
<br />
<br />
<br />
<div>
   
    
</div>
