
@using eActForm.BusinessLayer;
@model eActForm.Models.Activity_TBMMKT_Model




<br />
<br />
<br />
<br />
<br />
<br />
<div>
    @Html.Action("PreviewFormDetail_Input", "PreviewMasterForm", new { typeLayout = "report" })

</div>
