USE [EActDB-DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_getBudgetActivity]    Script Date: 07/05/2019 4:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		surachat.j
-- Create date: 20190313
-- Description:	<Description,,>
-- =============================================

ALTER PROCEDURE [dbo].[usp_getBudgetActivity]
	@act_approveStatusId nvarchar(50),
	@act_activityId nvarchar(50),
	@act_activityNo nvarchar(50),
	@budgetApproveId nvarchar(50)
AS
BEGIN


select 
t.budget_Id
,t.budgetApproveId
,t.act_form_id
,t.act_approveStatusId
,t.approve_nameTH
,t.approve_nameEN
,t.act_activityNo 
,t.act_documentDate
,t.act_reference
,t.act_customerId
,t.cus_cusShortName
,t.cus_cusNameTH
,t.cus_cusNameEN
,t.ch_chanelCust
,t.ch_chanelGroup
,t.ch_chanelTradingPartner
,t.prd_groupName
,t.prd_groupNameTH
,t.prd_groupShort
,t.act_activityPeriodSt
,t.act_activityPeriodEnd
,t.act_costPeriodSt
,t.act_costPeriodEnd
,t.act_activityName
,t.act_theme
,t.act_activitySales
,t.act_objective
,t.act_trade
,t.act_activityDetail
,t.act_delFlag
,t.act_createdDate
,t.act_createdByUserId
,t.act_updatedDate
,t.act_updatedByUserId
,t.act_normalCost
,t.act_themeCost
,t.act_totalCost
,bl.act_total_invoive
,t.act_totalCost - bl.act_total_invoive as act_balance
,t.bud_ActivityStatusId
,bcs.nameTH as bud_ActivityStatus
from
(
SELECT ba.id as budget_Id 
      ,bp.id as budgetApproveId
	  ,af.[Id] as act_form_id
      ,af.[statusId]  as act_approveStatusId
	  ,ap.[nameTH] as approve_nameTH
	  ,ap.[nameEN] as approve_nameEN
      ,af.[activityNo] as act_activityNo 
      ,af.[documentDate] as act_documentDate
      ,af.[reference] as act_reference
      ,af.[customerId] as act_customerId
	  ----------------------------------------------
	  ,cs.cusShortName as cus_cusShortName
	  ,cs.[cusNameTH] as cus_cusNameTH
	  ,cs.[cusNameEN] as cus_cusNameEN
	  ----------------------------------------------
	  ,ch.chanelGroup as ch_chanelGroup
	  ,ch.cust as ch_chanelCust
	  ,ch.tradingPartner as ch_chanelTradingPartner
	  ----------------------------------------------
	  ,pg.groupName as prd_groupName
	  ,pg.groupNameTH as prd_groupNameTH
	  ,pg.groupShort as prd_groupShort
	  ----------------------------------------------
      ,af.[activityPeriodSt] as act_activityPeriodSt
      ,af.[activityPeriodEnd] as act_activityPeriodEnd
      ,af.[costPeriodSt] as act_costPeriodSt
      ,af.[costPeriodEnd] as act_costPeriodEnd
      ,af.[activityName] as act_activityName
      ,af.[theme] as act_theme
	  ,ag.activitySales as act_activitySales
      ,af.[objective] as act_objective
      ,af.[trade] as act_trade
      ,af.[activityDetail] as act_activityDetail
      ,af.[delFlag] as act_delFlag
      ,af.[createdDate] as act_createdDate
      ,af.[createdByUserId] as act_createdByUserId
      ,af.[updatedDate] as act_updatedDate
      ,af.[updatedByUserId] as act_updatedByUserId
	  ,(select sum(ae.normalCost) from dbo.TB_Act_ActivityOfEstimate ae where ae.activityId=af.Id) as act_normalCost
	  ,(select sum(ae.themeCost) from dbo.TB_Act_ActivityOfEstimate ae where ae.activityId=af.Id ) as act_themeCost
	  ,(select sum(total) from dbo.TB_Act_ActivityOfEstimate ae where ae.activityId=af.Id ) as act_totalCost
	  ,Case When bcs.[id] IS NULL THEN '1' ELSE bcs.[id]  END as bud_ActivityStatusId
  FROM [dbo].[TB_Act_ActivityForm] af 
  left outer join [dbo].[TB_Act_ActivityGroup] ag on ag.id = af.theme
  left outer join dbo.TB_Reg_ApproveStatus ap on ap.id = af.statusId
  left outer join dbo.TB_Act_Customers cs on cs.id = af.customerId
  left outer join [dbo].[TB_Act_Chanel] ch on  ch.id=cs.chanel_Id
  left outer join [dbo].[TB_Act_ProductGroup] pg on pg.id=af.productGroupId
  left outer join [dbo].[TB_Bud_Activity] ba on ba.activityId=af.id
  left outer join 
  (
	SELECT  a.[id]
      ,a.[budgetActivityId]
      ,a.[approveStatusId]
      ,a.[seqNo]
	FROM [dbo].[TB_Bud_Approve] a
	where a.seqNo = (select max(seqno) from [dbo].[TB_Bud_Approve] where [budgetActivityId] = a.[budgetActivityId])
  ) bp on bp.[budgetActivityId] = ba.id
  left outer join [dbo].[TB_Bud_ActivityStatus] bcs on  bcs.[id] = ba.[budgetActivityStatusId]
  ) as t
  left outer join [dbo].[TB_Bud_ActivityStatus] bcs on  bcs.[id] = t.bud_ActivityStatusId
  left outer join 
  (
	select [activityId],sum([invoiceTotalBath]) as act_total_invoive
	from [dbo].[TB_Bud_ActivityInvoice]
	where delFlag = 0
	group by  [activityId]
  ) as bl on bl.activityId = t.act_form_id
  where 1=1
  AND t.act_delFlag = 0
  and t.act_approveStatusId = 3
  AND (t.act_approveStatusId = @act_approveStatusId OR @act_approveStatusId IS NULL)
  AND (t.act_form_id = @act_activityId OR @act_activityId IS NULL)
  AND (t.act_activityNo = @act_activityNo OR @act_activityNo IS NULL)
  AND (t.budgetApproveId = @budgetApproveId OR @budgetApproveId IS NULL)
  order by t.act_activityNo

  END

    --------------------------------------------------------------------------------------

  --    EXEC dbo.[usp_getBudgetActivity] 3,null,null,null
