@*@model eActForm.Models.Activity_TBMMKT_Model*@
<div id="divHeaderDetails" runat="server" style="width: 100%;">
    <table style="width: 100%;" id="tabelHeaderDetails" runat="server">
        <tr>
            <td>
                &nbsp;เรียน&nbsp;........................
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;ชื่องาน&nbsp;....................... &nbsp;EO&nbsp;.......................&nbsp;IO&nbsp;.......................
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;เพื่อ&nbsp;.......................
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;ชื่อผู้ขอยืม&nbsp;.......................&nbsp;ตำแหน่ง&nbsp;.......................
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;จำนวนเงิน&nbsp;.......................&nbsp;(.......................)
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;ต้องการเช็ควันที่&nbsp;.......................&nbsp;(ล่วงหน้า 5 วัน)
            </td>
        </tr>
        <tr>
            <td style="">
                &nbsp;เคลียร์เงินทดรองในวันที่&nbsp;.......................&nbsp;(ไม่เกิน 12 วันหลังจบงาน)
            </td>
        </tr>
    </table>

</div>