@*@model eActForm.Models.Activity_TBMMKT_Model*@
<div id="divHeaderDetails" runat="server" style="width: 100%;">
    <table style="width: 100%;" id="tabelHeaderDetails" runat="server">
        <tr>
            <td colspan="6" style="width: 15%;">
                &nbsp;เรียน &nbsp;........................
            </td>
        </tr>
        <tr>
            <td style="width: 15%;">
                &nbsp;ชื่องาน
            </td>
            <td style="width: 35%;">
                .......................
            </td>
            <td style="width: 10%;">
                &nbsp;EO
            </td>
            <td style="width: 15%;">
                &nbsp;.......................
            </td>
            <td style="width: 10%;">
                &nbsp;IO
            </td>
            <td style="width: 15%;">
                &nbsp;.......................
            </td>
        </tr>
        <tr>
            <td style="width: 15%;">
                &nbsp;เพื่อ
            </td>
            <td colspan="5" style="width: 85%;">
                .......................
            </td>
        </tr>
        <tr>
            <td style="width: 15%;">
                &nbsp;ชื่อผู้ขอยืม
            </td>
            <td style="width: 35%;">
                .......................
            </td>
            <td colspan="4" style="width: 50%;">
                &nbsp;ตำแหน่ง&nbsp;.......................
            </td>
        </tr>
        <tr>
            <td style="width: 15%;">
                &nbsp;จำนวนเงิน
            </td>
            <td style="width: 35%;">
                .......................
            </td>
            <td colspan="4" style="width: 50%;">
                &nbsp;(.......................)
            </td>
        </tr>
        <tr>
            <td style="width: 15%;">
                &nbsp;ต้องการเช็ควันที่
            </td>
            <td colspan="5" style="width: 85%;">
                .......................&nbsp;(ล่วงหน้า 5 วัน)
            </td>
        </tr>
        <tr>
            <td style="width: 15%;">
                &nbsp;เคลียร์เงินทดรองในวันที่
            </td>
            <td colspan="5" style="width: 85%;">
                .......................&nbsp;(ไม่เกิน 12 วันหลังจบงาน)
            </td>
        </tr>
    </table>

</div>