
@using eActForm.BusinessLayer
@using System.Configuration;
@model eActForm.Models.Activity_TBMMKT_Model


<div class="col-md-12 col-xs-12 ">

    <div id="divBrand" class="col-md-4 col-xs-12">

        <label class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align:left;">
            &nbsp;Brand<span class="required">&nbsp;:&nbsp;</span>
        </label>
        <div class="col-md-12 col-sm-12 col-xs-12">
            @Html.DropDownListFor(x => x.activityFormTBMMKT.BrandlId, new SelectList(Model.tB_Act_ProductBrand_Model, "id", "brandName", 0), "", new
            {
                @class = "form-control ",
                id = "ddlBrand_BG"
            })
        </div>
    </div>

    <div id="divChannel" class="col-md-4 col-xs-12">

        <label class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align:left;">
            &nbsp;Channel<span class="required">&nbsp;:&nbsp;</span>
        </label>
        <div class="col-md-12 col-sm-12 col-xs-12">
            @Html.DropDownListFor(x => x.activityFormTBMMKT.channelId, new SelectList(Model.tB_Act_Chanel_Model, "id", "chanelGroup", 0), "", new
             {
                 @class = "form-control ",
                 id = "ddlChannel_BG"
             })
        </div>
    </div>


    <div id="divActType" class="col-md-2 col-xs-12">

        <label class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align:left;">
            &nbsp;ActivityType<span class="required">&nbsp;:&nbsp;</span>
        </label>
        <div class="col-md-12 col-sm-12 col-xs-12">
            @Html.DropDownListFor(x => x.activityFormTBMMKT.theme, new SelectList(Model.activityGroupList, "id", "activitySales", 0), "", new
       {
           @class = "form-control ",
           id = "ddlActType_BG"
       })
        </div>
    </div>

    <div id="divSubject"  class="col-md-2 col-xs-12">

        <label class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align:left;">
            &nbsp;Subject<span class="required">&nbsp;:&nbsp;</span>
        </label>
        <div class="col-md-12 col-sm-12 col-xs-12">
            @Html.DropDownListFor(x => x.activityFormTBMMKT.empId, new SelectList(Model.tB_Reg_Subject, "id", "nameTH", 0), "", new
            {
                @class = "form-control ",
                id = "ddlSubject_BG"
            })
        </div>
    </div>



    <div id="divBGYear" class="col-md-2 col-xs-12">

        <label class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align:left;">
            &nbsp;Budget Year<span class="required">&nbsp;:&nbsp;</span>
        </label>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <input type="number" class="form-control textboxcss" id="txtBGYear" placeholder="YYYY" min="2017" max="2100">

        </div>
    </div>

</div>
