@model eActForm.Models.Activity_TBMMKT_Model
@{
    var strHeader = "";
    if (Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formTrvTbmId"])//travelling TBM
    {
        strHeader = "คำแนะนำการขอเบิกค่าใช้จ่าย";
    }
}
<tr>
    <td style="text-align:right;">
        <div class="form-group">
            <div class="col-md-12 col-xs-12">
                <div class="row">
                    <h4><u>
    <a href="#" onclick="$('#preview').modal('show');">@strHeader</a>
</u>
                    </h4>
                </div>
            </div>
        </div>
        <div style="height:8px;"></div>
    </td>
</tr>