@model eActForm.Models.Activity_TBMMKT_Model
@using System.Configuration;
@{
    var strHeader = "";
    if (Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formTrvTbmId"])//travelling TBM
    {
        strHeader = Resources.Global.viewManual;
    }
}

<table style="width: 100%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;">
    <tr>
        <td style="text-align:right;">
            <h4>
                <u>
                    <a href="#" onclick="$('#preview').modal('show');">@strHeader</a>
                </u>
            </h4>
        </td>
    </tr>
</table>