@model eActForm.Models.Activity_TBMMKT_Model
@using eActForm.BusinessLayer;
@using System.Configuration;
<table style="width: 100%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;">
    <tr>
        <td style="">
            <div class="form-group">
                <label class="control-label col-md-2 col-xs-12">
                    @Resources.Global.documentDate :
                </label>

                <div class="col-md-4 col-xs-12">
                    <div class="row">
                        @*@Html.TextBoxFor(x => x.activityFormModel.documentDate, "{0:MM/dd/yyyy}", new { @class = "form-control textboxcss", id = "txtdateDoc", style = "", autocomplete = "off" })*@
                        @Html.TextBox("activityFormModel.documentDateStr", DocumentsAppCode.convertDateTHToShowCultureDateEN(Model.activityFormModel.documentDate, ConfigurationManager.AppSettings["formatDateUse"]), new { @class = "form-control textboxcss", id = "txtdateDoc", style = "", autocomplete = "off" })
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="row">
                        &nbsp;
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>