@model eActForm.Models.Activity_TBMMKT_Model
<tr>
    <td style="">
        <div class="form-group">

            <label class="control-label col-md-2 col-xs-12">
                วันที่ :
            </label>

            <div class="col-md-4 col-xs-12">
                <div class="row">
                    @Html.TextBoxFor(x => x.activityFormModel.documentDateStr, new { @class = "form-control textboxcss ", id = "txtdateDoc2", style = "" })
                    @*<input type="text" value="@Model.activityFormModel.documentDate" id="txtdateDoc" name="activityFormModel.documentDate" class="form-control textboxcss txtdateDoc2" style="width:140px;" />*@

                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    &nbsp;
                </div>
            </div>
            <script>
                $(function () {

                    $('#txtdateDoc2').datetimepicker({
                        language: 'th',
                        format: 'dd-mm-yyyy',
                        weekStart: 1,
                        todayBtn: 1,
                        autoclose: 1,
                        todayHighlight: 1,
                        startView: 2,
                        minView: 2,
                        forceParse: 0
                    });


                });

            </script>

        </div>
    </td>
</tr>