@model eActForm.Models.Activity_TBMMKT_Model
@using System.Configuration;
<tr>
    <td style="">
        <div class="form-group">
            <div style="height:10px" class="row">
                <label class="control-label col-md-12 col-xs-12"></label>
            </div>
    
            <div class="row"  style="width: 100%;">
                @*<label class="control-label col-md-1 col-xs-12"></label>*@
                <div class="col-md-7 col-xs-12">
                    <div class="row">
                        &nbsp;
                    </div>
                </div> 
                <label class="control-label col-md-3 col-xs-12">
                    ความเร่งด่วน :
                </label>
                <div class="col-md-2 col-xs-12">

                    <div class="row">
                        @Html.DropDownListFor(x => x.activityFormTBMMKT.piorityDoc, new SelectList(Model.listPiority, "id", "name", ""), "", new
                        {
                            @class = "form-control selectpicker",
                            id = "ddlTravelling"
                        })

                    </div>
                  




                </div>

            

          

        </div>
            </div>

    </td>
</tr>