@model eActForm.Models.Activity_TBMMKT_Model
<tr>
    <td style="">
        <div class="form-group">

            <label class="control-label col-md-2 col-xs-12">
                วันที่ :
            </label>

            <div class="col-md-4 col-xs-12">
                <div class="row">
                    @Html.TextBoxFor(x => x.activityFormModel.documentDate, "{0:MM-dd-yyyy}", new { @class = "form-control textboxcss", id = "txtdateDoc", style = "" ,autocomplete = "off" })
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    &nbsp;
                </div>
            </div>
        </div>
    </td>
</tr>