.modal.modal-wide .modal-dialog {
    width: 90%;
}


body {
    padding-bottom: 20px;
    font-size:12px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    /*max-width: 280px;*/
    margin-left:2px;
    margin-right:2px;
}


.dropzone .dz-preview .dz-error-message {
    top: 150px !important;
}

.textboxcss {
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #b4a0a0;
}

    .textboxcss:focus {
        background-color: #F7E4E4;
    }

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.auto-style3 {
    background-color: #F3FFCA;
}

.auto-style4 {
    background-color: #CAEEFF;
}

.auto-style5 {
    height: 13.0pt;
    width: 125pt;
    color: black;
    font-size: 10.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding: 0px;
    background: #A9D08E;
}

.auto-style6 {
    width: 121pt;
    color: black;
    font-size: 10.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding: 0px;
}

.auto-style7 {
    width: 134pt;
    color: black;
    font-size: 10.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding: 0px;
}

.auto-style8 {
    width: 122pt;
    color: black;
    font-size: 10.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding: 0px;
}

.auto-style9 {
    width: 115pt;
    color: black;
    font-size: 10.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding: 0px;
}

.auto-style10 {
    height: 13.0pt;
    color: black;
    font-size: 10.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    border-bottom: .5pt solid windowtext;
    padding: 0px;
    background: #A9D08E;
}

.auto-style11 {
    color: black;
    font-size: 10.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    border-bottom: .5pt solid windowtext;
    padding: 0px;
}

.auto-style12 {
    height: 14.5pt;
    color: black;
    font-size: 11.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: general;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding: 0px;
}

.auto-style13 {
    color: black;
    font-size: 11.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: general;
    vertical-align: bottom;
    white-space: nowrap;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right: .5pt solid windowtext;
    border-top: .5pt solid windowtext;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding: 0px;
}

.auto-style14 {
    color: black;
    font-size: 11.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: general;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding: 0px;
}

.auto-style15 {
    height: 14.5pt;
    color: black;
    font-size: 11.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: general;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding: 0px;
}

.auto-style16 {
    color: black;
    font-size: 11.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: general;
    vertical-align: bottom;
    white-space: nowrap;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right: .5pt solid windowtext;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding: 0px;
}

.auto-style17 {
    color: black;
    font-size: 11.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: general;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding: 0px;
}

.auto-style18 {
    height: 14.5pt;
    color: red;
    font-size: 11.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: general;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding: 0px;
    background: #A9D08E;
}

.auto-style19 {
    color: red;
    font-size: 11.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: general;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding: 0px;
    background: #A9D08E;
}

.auto-style20 {
    color: red;
    font-size: 11.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: general;
    vertical-align: bottom;
    white-space: nowrap;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right: .5pt solid windowtext;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    padding: 0px;
    background: #A9D08E;
}

.auto-style21 {
    height: 14.5pt;
    color: black;
    font-size: 11.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: general;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    border-bottom: .5pt solid windowtext;
    padding: 0px;
}

.auto-style22 {
    color: black;
    font-size: 11.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: general;
    vertical-align: bottom;
    white-space: nowrap;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right: .5pt solid windowtext;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    border-bottom: .5pt solid windowtext;
    padding: 0px;
}

.auto-style23 {
    color: black;
    font-size: 11.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: general;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    border-bottom: .5pt solid windowtext;
    padding: 0px;
}

.auto-style24 {
    height: 14.5pt;
    color: black;
    font-size: 9.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    padding: 0px;
}

.auto-style25 {
    color: black;
    font-size: 9.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    padding: 0px;
}

.auto-style26 {
    color: black;
    font-size: 9.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: general;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    padding: 0px;
}

.auto-style27 {
    width: 115pt;
    color: black;
    font-size: 9.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    padding: 0px;
}

.auto-style28 {
    height: 24.75pt;
    color: black;
    font-size: 9.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    padding: 0px;
}

.auto-style29 {
    width: 121pt;
    color: black;
    font-size: 9.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    padding: 0px;
}

.auto-style30 {
    color: black;
    font-size: 9.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    padding: 0px;
}

.auto-style31 {
    width: 122pt;
    color: black;
    font-size: 9.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    padding: 0px;
}

.auto-style32 {
    height: 14.5pt;
    color: black;
    font-size: 8.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    padding: 0px;
}

.auto-style33 {
    color: black;
    font-size: 8.0pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    text-align: center;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: .5pt solid windowtext;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top: .5pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    padding: 0px;
}

@media screen {
    div.divFooter {
        display: none;
    }
}

@media print {
    div.divFooter {
        position: fixed;
        bottom: 0;
    }
}