
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activity Form Report Post Evaluation</h2>
<hr />
<div class="row tile_count">

    <div class="row tile_count">
        <div class="col-md-12 col-xs-12">
            @using (Ajax.BeginForm("searchActForm", "actFormRepPostEva", new { typeForm = @ViewBag.TypeForm }
, new AjaxOptions { UpdateTargetId = "getQuery", HttpMethod = "post", OnBegin = "return beginQuery()", OnSuccess = "successQuery", OnFailure = "failureQuery", LoadingElementId = "WaitDialog" }
, new { id = "form", @class = "form-horizontal form-label-left" }))
            {
                @RenderPage("~/Views/Shared/_searchReportDetail.cshtml")
            }
        </div>
    </div>
</div>


<div class="row tile_count">
    <div id="getQuery" class="col-md-12 col-xs-12">

    </div>
</div>