@model eForms.Models.Reports.RepPostEvaModels



<div class="row" style="width:1100px;overflow-x:scroll;">
    @if (Model != null && Model.repPostEvaLists != null && Model.repPostEvaLists.Count > 0)
    {
        <div class="col-md-12 col-xs-12">
            @*<div class="row">
                <table>
                    <tr>
                        <td>
                            บริษัท โมเดิร์นเทรดแมนเนจเม้นท์ จำกัด
                        </td>
                    </tr>
                    <tr>
                        <td>
                            รายละเอียดขออนุมัติงบประมาณจัดกิจกรรมด้านส่งเสริมการขาย  @Model.repPostEvaLists[0].customerName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ประจำเดือน @ViewBag.mountText
                        </td>
                    </tr>
                </table>
            </div>*@
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    @Html.Action("PostEvaGroupBrandView", "actFormRepPostEva", new { model = Model })
                </div>
            </div>
            <div class="row">

                @using (Html.BeginForm("repExportExcel", "actFormRepPostEva", FormMethod.Post))
                {
                    @RenderPage("~/Views/actFormRepPostEva/sharePostEvaViewList.cshtml")

                }

            </div>

        </div>
    }
</div>




<script>


    $(document).ready(function () {


    })

</script>