@model eActForm.Models.salesTeamModel

<div style="margin-left:5px;">
    <h2>สถานที่รับ</h2>
    <hr />
</div>
<div class="row">

    <div class="col-lg-6 col-12">

        <div class="col-lg-3 col-3"><p class="pull-right text-warning">*</p><p class="pull-right">จังหวัด:</p></div>
        <div class="col-lg-9 col-9">

            @Html.DropDownList("activityFormModel.regionId", new SelectList(Model.provinceList, "id", "nameTH", ""), "Please Select", new
               {
                   @class = "form-control",
                   onchange = "fillOnChange()",
                   id = "ddlProvince",
                   required = "required"
               })
        </div>

    </div>
    <div class="col-lg-6 col-12">
        <div class="row">
            <div class="col-lg-3 col-3"><p class="pull-right text-warning">*</p><p class="pull-right">หน่วย:</p></div>
            <div class="col-lg-9 col-9">
                <div style="margin-left:9px;margin-right:9px;">
                    <select id="ddlSaleTeam" name="activityFormModel.reference" class="form-control" required onchange="ddlSaleTeamChange()">
                        <option style="color:#0e0d0d;" value>Please Select</option>
                    </select>
                </div>
            </div>
        </div>
    </div>


</div>
<input id="provinceName" type="hidden" name="activityFormModel.regionName" />
<input id="saleTeamName" type="hidden" name="activityFormModel.activityName" />
<script>

    function ddlSaleTeamChange() {
        $("#saleTeamName").val($("#ddlSaleTeam option:selected").text());
    }
    function fillOnChange() {

        $("#provinceName").val($("#ddlProvince option:selected").text());
        $.ajax({
            url: '@Url.Action("getDataSaleTeam", "apiGetDataMaster")',
            data: {
                provinceId: $("#ddlProvince").val()
            },
            dataType: "json",
            type: 'POST',
            success: function (response) {
               
                fillData(response);
            }
        });
    }

    function fillData(response) {

        if (response.Data.saleTeamList.length > 0) {
            $("#ddlSaleTeam option[value !='']").remove();
            $.each(response.Data.saleTeamList, function () {
                $("#ddlSaleTeam").append($("<option></option>").val(this['id']).html(this['nameTH']));
            });
        }

    }
</script>
