@model eActForm.Models.salesTeamModel



<div class="form-horizontal">
    <div class="row" style="margin-left:15px;">
        <h2>สถานที่รับ</h2>
        <hr />
        <div class="col-lg-6 col-xs-12">
            <div class="form-group">
                <div class="col-lg-2 col-xs-3"><p class="pull-right">จังหวัด :</p></div>
                <div class="col-lg-10 col-xs-9">

                    @Html.DropDownList("activityFormModel.regionId", new SelectList(Model.provinceList, "id", "nameTH", ""), "Please Select", new
                       {
                           @class = "form-control selectpicker",
                           onchange = "fillOnChange()",
                           id = "ddlProvince",
                           required = "required"
                       })
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="row">
                <div class="form-group">
                    <div class="col-lg-2 col-xs-3"><p class="pull-right">หน่วย :</p></div>
                    <div class="col-lg-10 col-xs-9">

                        <select id="ddlSaleTeam" data-val="true" data-val-required="field is required." name="activityFormModel.activityNo" class="form-control selectpicker" required onchange="ddlSaleTeamChange()" >
                            <option style="color:#0e0d0d;" value>Please Select</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="provinceName" type="hidden" name="activityFormModel.regionName" />
<input id="saleTeamName" type="hidden" name="activityFormModel.activityName" />
<script>

    function ddlSaleTeamChange() {
        $("#saleTeamName").val($("#ddlSaleTeam option:selected").text());
    }
    function fillOnChange() {
        $("#provinceName").val($("#ddlProvince option:selected").text());
        $.ajax({
            url: '@Url.Action("getDataSaleTeam", "apiGetDataMaster")',
            data: {
                provinceId: $("#ddlProvince").val()
            },
            dataType: "json",
            type: 'POST',
            success: function (response) {
                fillData(response);
            }
        });
    }

    function fillData(response) {

        if (response.Data.saleTeamList.length > 0) {
            $("#ddlSaleTeam option[value !='']").remove();
            $.each(response.Data.saleTeamList, function () {
                $("#ddlSaleTeam").append($("<option></option>").val(this['id']).html(this['nameTH']));
            });
        }

    }
</script>