<div id="divHeadCompany" runat="server" style="width: 100%; align-content: center; text-align: center;">
    @*<asp:Label ID="lblHeaderCompany" Text="บริษัท  ไทยเบฟมาร์เก็ตติ้ง  จำกัด" style="width: 100%; align-content: center; text-align: center;" runat="server" Font-Size="18pt" Width="100%" Font-Names="TH SarabunPSK"></asp:Label><br />
        <asp:Label ID="lblHeaderAddressCompany" Text="15 หมู่ 14 ถนนวิภาวดี-รังสิต แขวงจอมพล เขตจตุจักร กรุงเทพฯ 10900" style="width: 100%; align-content: center; text-align: center;" runat="server" Font-Size="18pt" Width="100%" Font-Names="TH SarabunPSK"></asp:Label>*@
    บริษัท  ไทยเบฟมาร์เก็ตติ้ง  จำกัด<br />
    15 หมู่ 14 ถนนวิภาวดี-รังสิต แขวงจอมพล เขตจตุจักร กรุงเทพฯ 10900
</div>