@using eActForm.BusinessLayer
@if (UtilsAppCode.Session.User.isAdmin || UtilsAppCode.Session.User.isSuperAdmin)
{
    <li>
        <a><i class="fa fa-paint-brush"></i> Admin <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>@Html.ActionLink(" Product Setting ", "index", "Admin")</li>
            <li>@Html.ActionLink(" User Setting ", "index", "AdminUser")</li>
        </ul>
    </li>
}