
<li>
    <a><i class="fa fa-sitemap"></i> Help <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li>@Html.ActionLink(" Contact ", "contact", "Home")</li>
        <li><a href="~/manual/manual_eAct.pdf" target="_blank"> Manual</a></li>
    </ul>
</li>