@using eActForm.BusinessLayer
@using System.Configuration;
@using eActForm.Models;

@if (UtilsAppCode.Session.User.isSuperAdmin ||( UtilsAppCode.Session.User.isCreator && ActFormAppCode.checkGrpCompByUser(@Activity_Model.activityType.NUM.ToString())))
    {
<li>
    <a><i class="fa fa-edit"></i>IT Forms <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li>@Html.ActionLink("Change Request Form (IT_FRM_314)", "Index", "MainReport", new { typeForm = Activity_Model.activityType.ITForm.ToString(), master_type_form_id = ConfigurationManager.AppSettings["formCR_IT_FRM_314"] }, null)</li>
    </ul>
</li>
}