@model eActForm.Models.Activity_TBMMKT_Model
<style>
    .cssMainDetailSectionOneToFive {
        width: 100%;
        border-top: 1px solid black;
        border-right: 0px solid black;
        border-bottom: 0px solid black;
        border-left: 0px solid black;
        border-collapse: collapse;
    }
</style>
<table class="cssMainDetailSectionOneToFive fontDocV1">
    <tr class="spaceUnder">
        <td style="width:35%;" class="boxTableFormV1">
            <table style="width: 100%; border-collapse: collapse;">
                <tr>
                    <td colspan="2" style="width:100%;background-color: #ccffff;" class="tdTopLeft fontRedV1">
                        &nbsp;ส่วนที่ 1)
                    </td>
                </tr>
                <tr>
                    <td style="width:72px;" class="tdTopLeft fontRedV1">
                        &nbsp;วัตถุประสงค์:
                    </td>
                    <td style="text-align:left;" class="">
                        เพื่อส่งเสริมภาพลักษณ์และ <br />ใช้ประชาสัมพันธ์ผลิตภัณฑ์
                    </td>
                </tr>
                <tr>
                    <td class="tdTopLeft fontRedV1 paddingRowTable">
                        &nbsp;Supplier:
                    </td>
                    <td style="text-align: left;" class="paddingRowTable">
                        ตรีเพชรอีซูซุ เซลส์
                    </td>
                </tr>
                <tr>
                    <td class="tdTopLeft fontRedV1 paddingRowTable">
                        &nbsp;ที่อยู่:
                    </td>
                    <td style="text-align:left;" class="paddingRowTable">
                        1088 ถ.วิภาวดีรังสิต แขวงจตุจักร<br />เขตจตุจักร กรุงเทพมหานคร 10900
                    </td>
                </tr>
                <tr>
                    <td class="tdTopLeft fontRedV1 paddingRowTable">
                        &nbsp;Tel/Fax:
                    </td>
                    <td style="text-align:left;" class="paddingRowTable">
                        0-2966-2111/0-2966-2191
                    </td>
                </tr>
            </table>
            <table style="width: 100%; border-collapse: collapse;">
                <tr>
                    <td colspan="2" style="width:100%;background-color: #ccffff;" class="tdTopLeft fontRedV1">
                        &nbsp;ส่วนที่ 2)
                    </td>
                </tr>
                <tr>
                    <td style="width:72px;" class="tdTopLeft fontBlueV1">
                        &nbsp;เอกสารแนบ:
                    </td>
                    <td style="text-align:left;" class="fontBlueV1">
                        1.เอกสารแนบที่หนึ่ง<br />2.เอกสารแนบที่สอง<br />3.เอกสารแนบที่สาม<br />4.เอกสารแนบที่สี่
                    </td>
                </tr>
            </table>
            <table style="border-collapse: collapse;">
                <tr>
                    <td class="tdTopLeft fontRedV1 paddingRowTable">
                        &nbsp;ข้อมูลสนับสนุน/หมายเหตุ:
                    </td>
                </tr>
            </table>
            <table style="border-collapse: collapse;">
                <tr>
                    <td class="tdTopLeft paddingRowTable">
                        &nbsp;สั่งจ่ายเพราะงานเสร็จแล้ว<br />&nbsp;ควรดำเนินการให้เร็วที่สุด
                    </td>
                </tr>
            </table>

        </td>
        <td style="width: 65%;" class="boxTableFormV1 borderLeft">
            <table style="width:100%;border-collapse: collapse;">
                <tr>
                    <td style="width:27%;text-align:left;">
                        &nbsp;วันที่:
                    </td>
                    <td style="width:73%;text-align:center;">
                        01/02/2020
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;" class="paddingRowTable">
                        &nbsp;เลขที่:
                    </td>
                    <td style="text-align:center;" class="paddingRowTable">
                        PV005/2020
                    </td>
                </tr>
                @for (int i = 1; i <= 4; i++)
                {
                    <tr>
                        <td style="text-align:left;" class="paddingRowTable">
                            &nbsp;งบประมาณเลขที่:
                        </td>
                        <td style="text-align:center;" class="paddingRowTable">
                            EO: S017 10 A6 20/0124
                            <br />
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>

