@model eActForm.Models.Activity_TBMMKT_Model
<table class="boxTableFormMainV1 fontDocV1">
    <tr>
        <td style="width:300px;" class="boxTableFormV1">
            <table style="background-color: #ccffff;" cellpadding="-4" cellspacing="-4" class="borderWidthMaxCollape">
                <tr>
                    <td class="fontRedV1">
                        &nbsp;&nbsp;ส่วนที่ 1)
                    </td>
                </tr>
            </table>
            <table class="borderWidthMaxCollape">
                <tr>
                    <td style="width:75px;" class="tdTopLeft fontRedV1">
                        &nbsp;วัตถุประสงค์:
                    </td>
                    <td style="text-align:left;">
                        เพื่อส่งเสริมภาพลักษณ์และ <br />ใช้ประชาสัมพันธ์ผลิตภัณฑ์
                    </td>
                </tr>
                <tr>
                    <td class="tdTopLeft fontRedV1 paddingRowTable">
                        &nbsp;Supplier:
                    </td>
                    <td style="text-align: left;" class="paddingRowTable">
                        ตรีเพชรอีซูซุ เซลส์
                    </td>
                </tr>
                <tr>
                    <td class="tdTopLeft fontRedV1 paddingRowTable">
                        &nbsp;ที่อยู่:
                    </td>
                    <td style="text-align:left;" class="paddingRowTable">
                        1088 ถ.วิภาวดีรังสิต แขวงจตุจักร<br />เขตจตุจักร กรุงเทพมหานคร 10900
                    </td>
                </tr>
                <tr>
                    <td class="tdTopLeft fontRedV1 paddingRowTable">
                        &nbsp;Tel/Fax:
                    </td>
                    <td style="text-align:left;" class="paddingRowTable">
                        0-2966-2111/0-2966-2191
                    </td>
                </tr>
            </table>
            <table class="borderWidthMaxCollape" style="background-color: #ccffff;" cellpadding="-4" cellspacing="-4">
                <tr>
                    <td class="fontRedV1">
                        &nbsp;&nbsp;ส่วนที่ 2)
                    </td>
                </tr>
            </table>
            <table class="borderWidthMaxCollape">
                <tr>
                    <td style="width:75px;" class="tdTopLeft fontBlueV1">
                        &nbsp;เอกสารแนบ:
                    </td>
                    <td style="text-align:left;" class="fontBlueV1">
                        1.เอกสารแนบที่หนึ่ง<br />2.เอกสารแนบที่สอง<br />3.เอกสารแนบที่สาม<br />4.เอกสารแนบที่สี่
                    </td>
                </tr>
            </table>
            <table style="border-collapse: collapse;">
                <tr>
                    <td class="tdTopLeft fontRedV1 paddingRowTable">
                        &nbsp;ข้อมูลสนับสนุน/หมายเหตุ:
                    </td>
                </tr>
            </table>
            <table style="border-collapse: collapse;">
                <tr>
                    <td class="tdTopLeft paddingRowTable">
                        &nbsp;สั่งจ่ายเพราะงานเสร็จแล้ว<br />&nbsp;ควรดำเนินการให้เร็วที่สุด
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 400px;height:20px;" class="boxTableFormV1 borderLeft">
            <style>
                .oneColumn {
                    text-align: left;
                    width: 5%;
                }

                .oneColumnCenter {
                    text-align: center;
                    width: 5%;
                }

                .ioColumn {
                    text-align: left;
                    width: 30%;
                }

                .glColumnLeft {
                    text-align: left;
                    width: 20%;
                }

                .glColumnCenter {
                    text-align: center;
                    width: 20%;
                }

                .chColumnCenter {
                    text-align: center;
                    width: 17%;
                }

                .chColumnLeft {
                    text-align: left;
                    width: 17%;
                }

                .brandColumnLeft {
                    text-align: left;
                    width: 28%;
                }

                .brandColumnCenter {
                    text-align: center;
                    width: 28%;
                }
            </style>
            <table class="borderWidthMaxCollape" style="background-color: #ccffff;" cellpadding="-4" cellspacing="-4">
                <tr>
                    <td class="oneColumn fontRedV1">&nbsp;</td>
                    <td class="ioColumn fontRedV1">
                        &nbsp;ส่วนที่ 3)
                    </td>
                    <td class="glColumnLeft fontRedV1">
                        &nbsp;ส่วนที่ 4)
                    </td>
                    <td class="chColumn">&nbsp;</td>
                    <td class="brandColumnLeft fontRedV1">
                        &nbsp;ส่วนที่ 5)
                    </td>
                </tr>
            </table>
            <table class="borderWidthMaxCollape">
                <tr>
                    <td class="oneColumn fontRedV1">&nbsp;</td>
                    <td class="ioColumn fontRedV1">
                        IO (Internal Order: SAP)
                    </td>
                    <td class="glColumnCenter fontRedV1">
                        GL
                    </td>
                    <td class="chColumnCenter fontRedV1">
                        Ch + Reg.
                    </td>
                    <td class="brandColumnCenter fontRedV1">
                        Brand
                    </td>
                </tr>
            </table>
            <table class="borderWidthMaxCollape">
                @for (int i = 1; i <= 10; i++)
                {
                    <tr>
                        <td class="oneColumnCenter fontRedV1 paddingRowTable">@i</td>
                        <td class="ioColumn fontRedV1 paddingRowTable">
                            86S02017L021
                        </td>
                        <td class="glColumnCenter fontRedV1 paddingRowTable">
                            650007940
                        </td>
                        <td class="chColumnCenter fontRedV1 paddingRowTable">
                            EV-03
                        </td>
                        <td class="brandColumnCenter paddingRowTable">
                            BLEND 285
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>

