@model eActForm.Models.Activity_TBMMKT_Model
<table class="boxTableFormMainV1 fontDocV1">
    <tr>
        <td style="width:100%;" class="boxTableFormV1">
            <table style="width:100%;border-collapse:collapse;background-color: #ccffff;" cellpadding="-4" cellspacing="-4">
                <tr>
                    <td class="fontRedV1">
                        &nbsp;&nbsp;ส่วนที่ 6)
                    </td>
                </tr>
            </table>
            <style>
                .dssBorderBotRight {
                    border-right: 1px solid black;
                    border-bottom: 1px solid black;
                }

                .detailTitleColumn {
                    text-align: left;
                  
                }

                .dCol1 {
                    width: 11%;
                }

                .dCol2 {
                    width: 24%;
                }

                .dCol3 {
                    width: 14%;
                }

                .vatTitleColumn {
                    text-align: center;
                    font-weight: bold;
                }

                .vatWidth {
                    width: 7%;
                }

                .eventNoTitleColumn {
                    text-align: center;
                    font-weight: bold;
                }

                .eventNoWidth {
                    width: 5%;
                }

                .dateTitleColumn {
                    text-align: center;
                    font-weight: bold;
                }

                .dateWidth {
                    width: 9%;
                }

                .totalTitleColumn {
                    text-align: center;
                    font-weight: bold;
                }

                .totalWidth {
                    width: 14%;
                }

                .pvNoTitleColumn {
                    text-align: center;
                    border-bottom: 1px solid black;
                    font-weight: bold;
                }

                .pvNoWidth {
                    width: 11%;
                }
            </style>
            <table style="width:100%;border-collapse:collapse;" cellpadding="-4" cellspacing="-4">
                <tr>
                    <td colspan="3" class="detailTitleColumn dssBorderBotRight fontRedV1">
                        &nbsp;&nbsp;รายละเอียด ค่าใช้จ่าย ในงวดนี้
                    </td>
                    <td class="vatTitleColumn vatWidth dssBorderBotRight">
                        VAT
                    </td>
                    <td class="eventNoTitleColumn eventNoWidth dssBorderBotRight fontRedV1">
                        ครั้งที่
                    </td>
                    <td class="dateTitleColumn dateWidth dssBorderBotRight fontRedV1">
                        ว / ด / ป
                    </td>
                    <td class="totalTitleColumn totalWidth dssBorderBotRight fontOrangeV1">
                        จำนวนเงิน(บาท)
                    </td>
                    <td class="pvNoTitleColumn pvNoWidth">
                        เลขที่ใบสั่งจ่าย
                    </td>
                </tr>
                @for (int i = 1; i <= 6; i++)
                {
                    <tr>
                        <td class="dCol1 tdTopLeft">
                            &nbsp;&nbsp;86S02017L021
                        </td>
                        <td class="dCol2 tdTopLeft">
                            งาน Big Mountain Music Festival 2019<br />ค่า Event Production
                        </td>
                        <td class="dCol3 tdTopRight borderRight fontBlueV1">
                            4,600,000.00&nbsp;
                        </td>
                        <td class="vatTitleColumn verticalTop vatWidth borderRight">
                            Include
                        </td>
                        <td class="eventNoTitleColumn verticalTop eventNoWidth borderRight fontRedV1">
                            @i
                        </td>
                        <td class="dateTitleColumn verticalTop dateWidth borderRight fontRedV1">
                            01/02/2020
                        </td>
                        <td class="totalTitleColumn verticalTop totalWidth borderRight fontOrangeV1">
                            4,850,000.00
                        </td>
                        <td class="tdTopCenter pvNoWidth">
                            PV005/2020
                        </td>
                    </tr>
                }
                </table>
            @*<table style="width:100%;border-collapse:collapse;" cellpadding="-4" cellspacing="-4">
                    <tr>
                        <td class="dCol1 tdTopLeft borderBottomV2">
                            &nbsp;&nbsp;86S02017L021
                        </td>
                        <td class="dCol2 tdTopLeft borderBottomV2">
                            งาน Big Mountain Music Festival 2019<br />ค่า Event Production
                        </td>
                        <td class="dCol3 tdTopRight dssBorderBotRight">
                            4,600,000.00&nbsp;
                        </td>
                        <td class="vatTitleColumn verticalTop vatWidth dssBorderBotRight">
                            Include
                        </td>
                        <td class="eventNoTitleColumn verticalTop eventNoWidth dssBorderBotRight fontRedV1">
                            1
                        </td>
                        <td class="dateTitleColumn verticalTop dateWidth dssBorderBotRight fontRedV1">
                            01/02/2020
                        </td>
                        <td class="totalTitleColumn verticalTop totalWidth dssBorderBotRight fontOrangeV1">
                            4,850,000.00
                        </td>
                        <td class="pvNoTitleColumn verticalTop pvNoWidth">
                            PV005/2020
                        </td>
                    </tr>
                </table>*@
        </td>
    </tr>
</table>

