@using eActForm.BusinessLayer;
@model eActForm.Models.Activity_TBMMKT_Model
<table class="boxTableFormMainV1 fontDocV1">
    <tr>
        <td style="width:100%;" class="boxTableFormV1">
            <table class="borderWidthMaxCollape" style="background-color: #ccffff;" cellpadding="-4" cellspacing="-4">
                <tr>
                    <td class="fontRedV1">
                        &nbsp;&nbsp;ส่วนที่ 6)
                    </td>
                </tr>
            </table>
            <style>
                .dssBorderBotRight {
                    border-right: 1px solid black;
                    border-bottom: 1px solid black;
                }

                .dCol1 {
                    width: 11%;
                }

                .dCol2 {
                    width: 26%;
                }

                .dCol3 {
                    width: 12%;
                }

                .vatTitleColumn {
                    text-align: center;
                    font-weight: bold;
                }

                .vatWidth {
                    width: 7%;
                }

                .eventNoTitleColumn {
                    text-align: center;
                    font-weight: bold;
                }

                .eventNoWidth {
                    width: 5%;
                }

                .dateTitleColumn {
                    text-align: center;
                    font-weight: bold;
                }

                .dateWidth {
                    width: 9%;
                }

                .totalTitleColumn {
                    text-align: center;
                    font-weight: bold;
                }

                .totalWidth {
                    width: 14%;
                }

                .pvNoTitleColumn {
                    text-align: center;
                    border-bottom: 1px solid black;
                    font-weight: bold;
                }

                .pvNoWidth {
                    width: 11%;
                }
            </style>
            <table class="borderWidthMaxCollape" cellpadding="-4" cellspacing="-4">
                <tr>
                    <td colspan="3" class="txtLeft dssBorderBotRight fontRedV1">
                        &nbsp;&nbsp;รายละเอียด ค่าใช้จ่าย ในงวดนี้
                    </td>
                    <td class="vatTitleColumn vatWidth dssBorderBotRight">
                        VAT
                    </td>
                    <td class="eventNoTitleColumn eventNoWidth dssBorderBotRight fontRedV1">
                        ครั้งที่
                    </td>
                    <td class="dateTitleColumn dateWidth dssBorderBotRight fontRedV1">
                        ว / ด / ป
                    </td>
                    <td class="totalTitleColumn totalWidth dssBorderBotRight fontOrangeV1">
                        จำนวนเงิน(บาท)
                    </td>
                    <td class="pvNoTitleColumn pvNoWidth">
                        เลขที่ใบสั่งจ่าย
                    </td>
                </tr>
                @for (int i = 1; i <= 5; i++)
                {
                    if (i == 1)
                    {
                        <tr>
                            <td class="dCol1 tdTopLeft">
                                &nbsp;&nbsp;86S02017L021
                            </td>
                            <td class="dCol2 tdTopLeft">
                                งาน Big Mountain Music Festival 2019<br />ค่า Event Production
                            </td>
                            <td class="dCol3 tdTopRight borderRight fontBlueV1">
                                4,123,546.50&nbsp;&nbsp;
                            </td>
                            <td class="vatTitleColumn verticalTop vatWidth borderRight">
                                Include
                            </td>
                            <td class="eventNoTitleColumn verticalTop eventNoWidth borderRight fontRedV1">
                                @i
                            </td>
                            <td class="dateTitleColumn verticalTop dateWidth borderRight fontRedV1">
                                01/02/2020
                            </td>
                            <td class="totalTitleColumn verticalTop totalWidth borderRight fontOrangeV1">
                                99,999,999.00
                            </td>
                            <td class="tdTopCenter pvNoWidth">
                                PV005/2020
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="dCol1 tdTopLeft">
                                <table style="border-collapse:collapse;">
                                    <tr>
                                        <td class="paddingRowTable">
                                            &nbsp;&nbsp;86S02017L021
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="dCol2 tdTopLeft">
                                <table style="border-collapse:collapse;">
                                    <tr>
                                        <td class="paddingRowTable">
                                            งาน Big Mountain Music Festival 2019<br />ค่า Event Production
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="dCol3 tdTopRight borderRight fontBlueV1">
                                <table class="borderWidthMaxCollape">
                                    <tr>
                                        <td class="paddingRowTable tdTopRight fontBlueV1">
                                            4,123,546.50&nbsp;&nbsp;
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="vatTitleColumn verticalTop vatWidth borderRight">
                                <table class="borderWidthMaxCollape">
                                    <tr>
                                        <td class="paddingRowTable vatTitleColumn">
                                            Include
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="eventNoTitleColumn verticalTop eventNoWidth borderRight fontRedV1">
                                <table class="borderWidthMaxCollape">
                                    <tr>
                                        <td class="paddingRowTable eventNoTitleColumn fontRedV1">
                                            @i
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="dateTitleColumn verticalTop dateWidth borderRight fontRedV1">
                                <table class="borderWidthMaxCollape">
                                    <tr>
                                        <td class="paddingRowTable dateTitleColumn fontRedV1">
                                            01/02/2020
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="totalTitleColumn verticalTop totalWidth borderRight fontOrangeV1">
                                <table class="borderWidthMaxCollape">
                                    <tr>
                                        <td class="paddingRowTable totalTitleColumn fontOrangeV1">
                                            99,999,999.00
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="tdTopCenter pvNoWidth">
                                <table class="borderWidthMaxCollape">
                                    <tr>
                                        <td class="paddingRowTable tdTopCenter">
                                            PV005/2020
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="2" class="txtRight">
                        <table class="borderWidthMaxCollape">
                            <tr>
                                <td class="paddingRowTableN txtRight ">
                                    รวม
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="dCol3 txtRight borderRight fontBlueV1">
                        <table class="borderWidthMaxCollape">
                            <tr>
                                <td class="paddingRowTableN txtRight fontBlueV1">
                                    20,617,732.50&nbsp;&nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="vatTitleColumn verticalTop vatWidth borderRight">
                        &nbsp;
                    </td>
                    <td class="eventNoTitleColumn verticalTop eventNoWidth borderRight fontRedV1">
                        &nbsp;
                    </td>
                    <td class="dateTitleColumn verticalTop dateWidth borderRight fontRedV1">
                        &nbsp;
                    </td>
                    <td class="totalTitleColumn verticalTop totalWidth borderRight fontOrangeV1">
                        &nbsp;
                    </td>
                    <td class="tdTopCenter pvNoWidth">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="txtRight fontRedV2">
                        <table class="borderWidthMaxCollape">
                            <tr>
                                <td class="paddingRowTableV2N txtRight fontRedV2">
                                    ภาษีมูลค่าเพิ่ม 7%
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="dCol3 txtRight borderRight fontBlueV1">
                        <table class="borderWidthMaxCollape">
                            <tr>
                                <td class="paddingRowTableV2N txtRight fontBlueV1">
                                    1,443,241.28&nbsp;&nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="vatTitleColumn verticalTop vatWidth borderRight">
                        &nbsp;
                    </td>
                    <td class="eventNoTitleColumn verticalTop eventNoWidth borderRight fontRedV1">
                        &nbsp;
                    </td>
                    <td class="dateTitleColumn verticalTop dateWidth borderRight fontRedV1">
                        &nbsp;
                    </td>
                    <td class="totalTitleColumn verticalTop totalWidth borderRight fontOrangeV1">
                        &nbsp;
                    </td>
                    <td class="tdTopCenter pvNoWidth">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="txtRight">
                        <table class="borderWidthMaxCollape">
                            <tr>
                                <td class="paddingRowTableV3N txtRight">
                                    รวมทั้งสิ้น (บาท)
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="dCol3 txtRight borderRight fontBlueV1">
                        <table class="borderWidthMaxCollape">
                            <tr>
                                <td class="paddingRowTableV3N txtRight fontBlueV1">
                                    22,060,973.78&nbsp;&nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="vatTitleColumn verticalTop vatWidth borderRight">
                        &nbsp;
                    </td>
                    <td class="eventNoTitleColumn verticalTop eventNoWidth borderRight fontRedV1">
                        &nbsp;
                    </td>
                    <td class="dateTitleColumn verticalTop dateWidth borderRight fontRedV1">
                        &nbsp;
                    </td>
                    <td class="totalTitleColumn verticalTop totalWidth borderRight fontOrangeV1">
                        &nbsp;
                    </td>
                    <td class="tdTopCenter pvNoWidth">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="dCol3 txtRight borderRight fontBlueV1 ">
                        <table class="borderWidthMaxCollape">
                            <tr>
                                <td class=" txtRight fontBlueV1">
                                    <table class="borderWidthMaxCollape txtRight">
                                        <tr>
                                            <td style="width:72px;" class=" txtLeft fontRedV1">
                                                &nbsp;&nbsp;บาท (ตัวอักษร)
                                            </td>
                                            <td class=" txtRight fontBlueV1">
                                                @{
                                                    //string totalWithVat = DocumentsAppCode.ThaiBahtText(Model.totalCostThisActivity.Value.ToString());
                                                    string totalWithVat = DocumentsAppCode.ThaiBahtText("22,060,973.78");
                                                }
                                                @totalWithVat &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="vatTitleColumn verticalTop vatWidth borderRight">
                        &nbsp;
                    </td>
                    <td class="eventNoTitleColumn verticalTop eventNoWidth borderRight fontRedV1">
                        &nbsp;
                    </td>
                    <td class="dateTitleColumn verticalTop dateWidth borderRight fontRedV1">
                        &nbsp;
                    </td>
                    <td class="totalTitleColumn verticalTop totalWidth borderRight fontOrangeV1">
                        &nbsp;
                    </td>
                    <td class="tdTopCenter pvNoWidth">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="txtLeft fontRedV1 borderTop">
                        &nbsp;&nbsp;งบฯ ผูกพันรวม(ตัวเลข)
                    </td>
                    <td colspan="4" class="txtRight borderRight fontBlueV1 borderTop">
                        30,800,00.00&nbsp;&nbsp;
                    </td>
                    <td class="totalTitleColumn verticalTop totalWidth borderRight fontOrangeV1 borderTop">
                        4,850,000.00&nbsp;
                    </td>
                    <td class="txtLeft pvNoWidth fontRedV1 borderTop">
                        &nbsp;&nbsp;<< งบฯ สะสม
                    </td>
                </tr>
                <tr>
                    <td colspan="1" class="txtLeft fontRedV1">
                        &nbsp;&nbsp;บาท (ตัวอักษร)
                    </td>
                    <td colspan="5" class="txtRight borderRight fontBlueV1">
                        @{
                            //string totalWithVat = DocumentsAppCode.ThaiBahtText(Model.totalCostThisActivity.Value.ToString());
                            string totalIoAll = DocumentsAppCode.ThaiBahtText("99,999,999.00");
                        }
                        @totalIoAll&nbsp;&nbsp;
                    </td>
                    <td class="totalTitleColumn verticalTop totalWidth borderRight fontOrangeV1">
                        99,999,999.00&nbsp;
                    </td>
                    <td class="txtLeft pvNoWidth fontRedV1">
                        &nbsp;&nbsp;<< คงเหลือ (บาท)
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

