@model eActForm.Models.Activity_TBMMKT_Model
<style>
    .cssMainHeaderPvDetails {
        width: 100%;
        border-top: 1px solid black;
        border-right: 0px solid black;
        border-bottom: 0px solid black;
        border-left: 0px solid black;
        border-collapse: collapse;
    }
</style>
<table class="cssMainHeaderPvDetails fontDocV1">
    <tr>
        <td style="width:57%;" class="boxTableFormV1">
            <table style="width: 100%; border-collapse: collapse;">
                <tr>
                    <td style="width:10%;" class="tdTopLeft fontRedV1">
                        &nbsp;เรื่อง:
                    </td>
                    <td style="width:85%;text-align:left;" class="fontBlueV1">
                        ค่า Event Production <br />งาน Big Mountain Music Festival 2019
                    </td>
                </tr>
                <tr>
                    <td class="tdTopLeft fontRedV1 paddingRowTable">
                        &nbsp;เรียน:
                    </td>
                    <td style="text-align:left;" class="fontBlueV1 paddingRowTable">
                        คุณประภากร ทองเทพไพโรจน์
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 43%;" class="boxTableFormV1 borderLeft">
            <table style="width:100%;border-collapse: collapse;">
                <tr>
                    <td style="width:25%;text-align:left;" class="fontRedV1">
                        &nbsp;วันที่:
                    </td>
                    <td style="width:75%;text-align:center;" class="fontBlueV1">
                        01/02/2020
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left;" class="fontRedV1 paddingRowTable">
                        &nbsp;เลขที่:
                    </td>
                    <td style="text-align:center;" class="fontBlueV1 paddingRowTable">
                        PV005/2020
                    </td>
                </tr>
                @for (int i = 1; i <= 4; i++)
                {
                    <tr>
                        <td style="text-align:left;" class="fontRedV1 paddingRowTable">
                            &nbsp;งบประมาณเลขที่:
                        </td>
                        <td style="text-align:center;" class="paddingRowTable">
                            EO: S017 10 A6 20/0124
                            <br />
                            @*<table style="width:100%;">
                                    <tr>
                                        <td class="borderBottom">
                                            &nbsp;
                                        </td>
                                    </tr>
                                </table>*@
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>
