@model eActForm.Models.Activity_TBMMKT_Model
    @{ 
        Layout = null;
    }

<div id=""style="width: 100%; align-content: center; text-align: center;padding:5px;" class="fontRedV1">
    <b>
        @Model.activityFormTBMMKT.formName
    </b>
</div>
