@using eActForm.Models
@using eActForm.BusinessLayer
@using System.Configuration;
@model eActForm.Models.ImportExcel

<h2>Import Material PRODUCT POS PREMIUM</h2>

@using (Ajax.BeginForm("Index", "ImportMaterial_PRODUCT_POS_PREMIUM", new AjaxOptions { HttpMethod = "post", OnBegin = "return beginQuery()", OnSuccess = "successQuery", OnFailure = "failureQuery" }, new { enctype = "multipart/form-data", id = "divUpload" }))
{

    @Html.TextBoxFor(m => m.file, new { type = "file" })
    <br />
    <div>
        &nbsp;<button id="submitButton" type="button" onclick="uploadClicked()">Upload Data Click Here</button>
    </div>
    <b style="color:#ff0000">
        @Html.ValidationMessageFor(model => model.file)
    </b>
}

<h2>
    @if (ViewBag.Error != null)
    {
        <b style="color:#ff0000">@Html.Raw(ViewBag.Error)</b>
    }
    else
    {
        <b style="color:#016427">@ViewBag.Result</b>
    }

</h2>
<hr />
<div>
    <h2>
        Download template file upload <a href="~/Uploadfiles/ImportMatProductPosPremium/template/template_import_data_product_pos_premium.xlsx">[Click]</a>
    </h2><br />
    1.ชื่อชีตต้องใช้ :dataimport<br />
    2.คอลัมน์ Qty :ถ้าไม่มีให้ใส่เลขศูนย์<br />
    3.คอลัมน์ Sub Group :ให้ใส่ PRODUCT หรือ POS หรือ PREMIUM<br />
    4.คอลัมน์ Status Mat :ให้ใส่ ในสต๊อก หรือ นอกสต๊อก<br />
    5.คอลัมน์ Material, Sub Group,Status Mat :ห้ามเป็นค่าว่าง<br />
    6.คอลัมน์ Status Use ::ให้ใส่ ใช้งาน หรือ ไม่ใช้งาน<br />
</div>
<hr />
<div>
    <h2>
        Download Material ที่มีอยู่ในระบบปัจจุบัน.
        @using (Html.BeginForm("ExportMat", "ImportMaterial_PRODUCT_POS_PREMIUM", FormMethod.Post))
        {
            <input type="submit" value="Export" />
        }
    </h2><br />
</div>
<script>
    function uploadClicked() {
        var r = confirm("Please confirm for upload file.");
        if (r == true) {
            $("#WaitDialog").show();
            $("#divUpload").submit();
        }
    }
</script>
